<h1><center> 알고리즘으로 배우는 Python</center></h1>

## 목차

### 5. 함수 (Function)
- 함수 정의 방법
- arguments, key word arguments
- name scope
- 내장함수
- 익명 함수 lambda
- 내장 sort 함수  

### 6. List 와 Tuple
- list 자료구조
- list indexing 방법
- list slicing
- tuple 자료구조
- tuple 정렬  
- zip  

### 9. range() 함수
- range 함수
- enumerate 함수

### 10. Dictionary 자료형
- dictionary 자료구조
- dictionary 생성 / 활용  
- dictionary 정렬

### 11. String (문자열)
- 스트링 (String) 자료형과 string 함수
- Escape Sequence  

### 12. String 의 여러가지 사용 방법
- 주요 method
- 문자열 formatting

### 13. Module
- 내장 module 불러오기
- 사용자 작성 module 불러오기

### 14. Class
- class 와 method 정의
- Object Oriented Programming
- class 변수, instance 변수
- 상속
- 다형성 구현

### 17. File 입출력
- file open/close
- file read/write
- IO error 처리
- file path 지정
- with open 문
- request 함수
- 예외처리 구문
- 특정 예외 처리
- 일반적 예외 처리
- assert

### 20. List Comprehension
- List Comprehension 작성 방법
- List Comprehension 내의 조건 check

### 24. Database 와 SQL(Structured Query Language) 사용하기
- Python에서 sql 사용하기

### 27. Pandas Basic
- Pandas 에서 Excel file 읽고 다루기  
- Pandas 에서 sql query 하기

### 30. 멀티스레딩, 멀티프로세싱
- Multi-threading vs. Multi-processing  
- Process 의 주소 공간 (Address Space)  
- Shared Memory 를 이용한 프로세스 간 상태 공유  
- Multiprocessing Pool (Map Reduce)  
- Lock을 이용한 동기성(Synchronization) 유지

### 40. 파이썬 코드 배포 파일 작성  
- 배포 파일 작성 실습 
- 배포 파일 설치 실습 

### 45. GUI 프로그래밍 - PyQt5
- PyQt5 기본 Widget 소개 및 작성 실습
    - window 생성  
    - QLable, QPushbutton, QLineEdit, QPixmap, 
    - QCheckBox, QComboBox, QRadioButton 
    - QMessageBox
    - QListWidget 등
- PyQt5 Layout 정의 및 Database 내용 조회 화면 작성 project 
    - QWidget window 구현을 통한 class 실습
    - Database 와 SQL query를 이용한 multi-record display
- PyQt5 디자이너 소개 및 project 구현 실습
    - Designer 사용 방법 소개
    - Designer signal, slot 연결

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 5. 함수(function)

## 5-1. 함수의 정의 및 호출

**함수는 프로그램의 기능을 작은 task 단위로 나누어 재사용 가능한 독립적 형태로 나눈 것**

**함수는 결과값(return value)을 반환하는 함수와 결과값을 반환하지 않는 함수로 구분된다.**

    - 결과값을 반환하지 않는 파이썬 함수의 예 : print(&nbsp;)
    - 결과값을 반환하는 파이썬 함수의 예 : type(&nbsp;)

### 함수의 작성 방법:

**1. def keyword 로 시작한다.**
**2. 함수의 이름은 변수의 이름과 작성 규칙이 동일하다.**

        문자와 숫자, _ (underscore) 로 구성되며, 문자 (a~z, A~Z) 혹은 _ (underscore) 로만 시작 가능.  
        
**3. 함수 이름 다음에 ( ) 로 둘러싸여진 인수 (parameter, argument) 전달 가능**

**4. 들여쓰기 (indentation) 에 의해 함수의 body 임을 표시한다.**

**5. return keyword 를 이용하여 결과값을 반환한다. 반환할 값이 없으면 return 은 생략 가능하다.**
```
    def function_name (*args, **args):
        function_body  
        return (value)
```    
**6. 함수의 반환값은 변수에 저장할 수 있다.**

**7. 여러개의 값을 한번에 반환할 수 있다.** 

**8. Python 이 기본적으로 제공하는 함수를 내장함수 (built-in function) 이라고 한다.**

    print(), sum(), abs(), help(), str(), round(), type() 등 약 70 가지
    
### \*args, \**kwargs

- \*args 로 여러개의 parameter 를 한번에 받아들임  
- \**kwargs 로 여러개의 keyword argument 를 한번에 받아들임

In [1]:
def hello_world():
    print("hello world")
    
hello_world()

hello world

In [2]:
def return_result():
    a = 10
    b = 20
    result = a + b
    return result

x = return_result()
print(x)

30

In [3]:
def param_func(x, y):
    result = x / y
    return result

a = 10
b = 20
x = param_func(a, b)
print(x)

0.5

In [4]:
def circle(pi, radius):
    print("pi = ", pi)
    print("반지름 = ", radius)
    return pi * radius ** 2

In [5]:
circle(3.14, 10)

pi =  3.14
반지름 =  10

314.0

In [6]:
r1, r2 = param_func(a, b) * 20, circle(3.14, a) / 10
print(r1, r2)

pi =  3.14
반지름 =  10
10.0 31.4

In [7]:
def plus_and_multi(m, n):
    return m + n, m * n

x, y = plus_and_multi(5, 10)
print(x, y)

15 50

In [8]:
def calculate_volume(length, width, depth):
    return length * width * depth

calculate_volume(10, 20, 30)

6000

In [9]:
def sum_values(*args):
    total = 0
    for i in args:
        total += i
    return total

In [10]:
sum_values(1,2,3)

6

In [11]:
sum_values(1,2,3,4,5)

15

In [12]:
x = print("Hello World")

Hello World

In [13]:
print(x)

None

In [14]:
a = type(10)

In [15]:
print(a)

<class 'int'>

## 5-2. Scope of Variable (변수 영역)

### variable 에는 global variable (전역변수) 과 local variable (지역변수) 의 두가지 종류가 있음

### global variable - 함수의 바깥에 정의하고 프로그램 전체에서 접근 가능
### local variable - 함수의 안쪽에 정의하고 함수 내에서만 접근 가능
### gobal variable 과 local variable 이 같은 이름을 가질 경우는 local variable 이 우선함

### 함수의 영역(Scope of Function) 도 변수의 영역과 동일함.

In [17]:
a = 1
b = 2

def func():
    c = 3
    d = 4
    print("global variable :", a, b)
    print("local  variable :", c, d)

In [18]:
func()

global variable : 1 2
local  variable : 3 4

In [19]:
print(c)

NameError: name 'c' is not defined

In [20]:
price = 100

def nego(price):
    price = price - 10
    print("negotiated price =", price)
    
nego(price)
print(price)

negotiated price = 90
100

### 전역변수를 함수 내에서 update

- not recommendable  
- global keyword 사용

In [2]:
a = 15
  
# global value 변경
def change(): 
  
    global a
    
    a = a + 5 
    print(a) 

change()

20

In [3]:
def outer(x):
    
    def inner(y):
        return y ** 2 + 2
    
    z = inner(x) + 2
    
    return z

print(outer(4))

20

In [4]:
inner(4)

NameError: name 'inner' is not defined

In [5]:
def outer(x):
    def inner(y):
        return y ** 2 + 2
    return inner(x) + 2

outer(4)

20

In [6]:
def square(length):
    print("정사각형의 한변 = ", length)
    return length ** 2

def outer(x):
    def inner(y):
        return y ** 2
    return inner(x) + square(x)

outer(4)

정사각형의 한변 =  4

32

In [27]:
def rectangle(L1, L2):
    return L1 * L2

print(rectangle(10, 20))
print(rectangle(L1=10, L2=20))

200
200

## 5-3. \*args, \**kwarg

In [28]:
def names(*args):
    print(args)
    
names('오', '영제', '남성')

('오', '영제', '남성')

In [29]:
def names(**kwargs):
    print(kwargs)

names(first='오', second='영제', third='남성')

{'first': '오', 'second': '영제', 'third': '남성'}

In [30]:
def names(*args, **kwargs):
    print(args)
    print(kwargs)
    
names('오', '영제', gender='남성')

('오', '영제')
{'gender': '남성'}

## 5-4. Python 의 내장함수 (Built-In Function)

#### Python 에 내장되어서 명령어처럼 사용할 수 있는 함수(function)들을 내장함수 (built-in function) 이라고 한다.

### print 함수

In [31]:
print(abs(-3))

3

In [32]:
print(bool(0))
print(bool(1))

False
True

### input 함수

In [36]:
year = input('태어난해를 입력하시오')

태어난해를 입력하시오2000

In [37]:
year

'2000'

### eval 함수

In [38]:
eval('10 * 5')

50

### 형변환 함수

In [39]:
float("12")

12.0

In [40]:
int('123')

123

In [41]:
lst = list((1,2,3))

### 기타

In [42]:
len(lst)

3

In [43]:
max(lst)

3

In [44]:
min(lst)

1

In [45]:
test_file = open("./test_text.txt")

In [46]:
test_file.read()

'This is a python open built-in function test file'

## 5-5. Python 의 익명 함수 lambda

- Python 의 함수 생성 방법은 def 와 lambda 두 가지가 있다.
- lambda 는 익명 (anonymous) 함수 이다.
- 한번 사용할 간단한 함수인 경우 사용

In [47]:
def sum(x, y):
    return x + y

In [48]:
sum(1, 2)

3

In [49]:
(lambda x, y: x+y)(1,2)

3

### lambda 를 변수에 assign

In [50]:
g = lambda x: x**2

print(g(8))

64

In [51]:
f = lambda x, y: x + y

print(f(4, 5))

9

## 5-6. Python 내장 sort 함수

- list.sort()  
- sorted()


- Python 의 내장 sort 함수는 merge sort 와 insertion sort 를 결합한 time sort 알고리즘

### list 정렬

In [52]:
a = [1, 10, 5, 7, 6]
a.sort()

print(a)

[1, 5, 6, 7, 10]

In [53]:
sorted([5, 2, 3, 1, 4])

[1, 2, 3, 4, 5]

In [1]:
sorted("This is a test string from Andrew".split(), 
       key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [55]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]

sorted(student_tuples, key=lambda student: student[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [56]:
sorted(student_tuples, key=lambda student: student[2], 
       reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

### dictionary 정렬

In [57]:
dict = {'A' :100,'D' :95,'C' :80,'B' :70}

sorted(dict.items(), key=lambda kv: kv[0], reverse=True)

[('D', 95), ('C', 80), ('B', 70), ('A', 100)]

In [58]:
sorted(dict.items(), key=lambda kv: kv[1])

[('B', 70), ('C', 80), ('D', 95), ('A', 100)]

## 연습문제

1) 선형방정식 (linear equation) y = mx + b 를 함수로 작성한다. 

   이때, 기본값(default value)은 m = 1, b = 0 로 한다.

2) 다음 함수가 수행된 후 print 되는 값은 ?

    def f(x):
        return x + 1, x * x

    x, y = f(3)
    print(x, y)

3) 다음 code 가 수행된 이후 z 의 값은 ?

    def f1(x, y):
        return (x + 1) / (y - 1)

    z = f1(2, 2)
    print(z)
    
    def f1(x, y=2):
        return (x + 1) / (y - 1)

    z = f1(1)
    print(z)

4) 섭씨 온도를 화씨 온도로 변환하는 함수를 작성한다. 변환 공식은 다음과 같다.

$$ T_f = \frac{9}{5} T_c +32$$

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 6. 리스트(List) 와 Tuple

## 6.1 List 구조

- 일상생활에서 흔히 볼 수 있는 자료구조 (Data Structure)

        예) 할일 목록 (to-do list), 식료품 구입 리스트, 초대장 리스트, 소원목록 (wish list), 국가 목록 등.

-  List 는 top-10 list 처럼 순서가 있을 수도 있고, 친구 목록처럼 순서가 없을 수도 있음.


- List 의 항목들을 요소 (element) 라고 한다.


-  Python 문법에서 list 는 대괄호 (bracket) 로 표시하고 element 는 콤마(,) 로 구분하여 대괄호안에 위치함.


-  List 의 element 는 지금까지 배운 Python 의 모든 자료형과 함수가 사용될 수 있음.

In [12]:
x = ["apple", 'orange', "옥수수", '밀']

In [13]:
print(x)

['apple', 'orange', '옥수수', '밀']

In [14]:
y = [1, 'two', 6/2]

In [15]:
print(y)

[1, 'two', 3.0]

In [16]:
def f(n):
    return [n, n * 2, n * 3, n * 4]

In [17]:
print(f(3))

[3, 6, 9, 12]

In [18]:
y = f(4)

In [19]:
type(y)

list

In [20]:
f('hi')

['hi', 'hihi', 'hihihi', 'hihihihi']

In [21]:
a = 5
b = 3.5
x = [a, a+b, a-b]

In [22]:
print(x)

[5, 8.5, 1.5]

### list 의 주요 method

- len( ) : list 의 길이
- sort( ) : list sort
- reverse( ) : list 를 역순으로 sort
- append( ) : list 끝에 new item 추가
- extend( )  : 다른 list 추가
- pop( )  : list 의 마지막 item 제거 및 반환
- pop(i) : i 번째 item 제거 및 반환
- del alist[i] : i 번째  item delete
- count( ) : list element 의 갯수 
- index( ) : list element 의 index

### 여러개의 list 를 결합

In [23]:
c = ['z', 'y', 'w'] + ['a', 'c', 'b']
c

['z', 'y', 'w', 'a', 'c', 'b']

In [24]:
c.pop(2)

'w'

In [25]:
del c[2]

In [26]:
c

['z', 'y', 'c', 'b']

### list 의 원소(element) 갯수

In [27]:
len(c)

4

### list 원소(element) 추가 / 확장

In [28]:
d = []

In [29]:
print(d)

[]

In [30]:
len(d)

0

In [31]:
d.append('first')

In [32]:
d

['first']

In [33]:
d.extend(c)

In [34]:
d

['first', 'z', 'y', 'c', 'b']

In [35]:
e = d + c
print(e)

['first', 'z', 'y', 'c', 'b', 'z', 'y', 'c', 'b']

### list 내의 list

In [36]:
d.append(['second, third'])
d

['first', 'z', 'y', 'c', 'b', ['second, third']]

In [37]:
animals = [['dog', 'Ruby', 7], 
           ['cat', 'Nero', 3], 
           ['dog', 'John', 5], 
           ['bird', 'Seagal', 2]]
print(animals)

[['dog', 'Ruby', 7], ['cat', 'Nero', 3], ['dog', 'John', 5], ['bird', 'Seagal', 2]]

### list element 의 변수 assign

In [38]:
[x, y, z] = 1, 2, 3
print(x, y, z)

1 2 3

In [39]:
r, s, t = [1, 2, 3]
print(r, s, t)

1 2 3

In [40]:
u = [1, 2, 3]
j, k, l = u
print(j, k, l)

1 2 3

In [41]:
x = 1
y = 2
xlist = [x, y, x + y]
x = 0
y = 0

In [42]:
xlist

[1, 2, 3]

### list methods

In [43]:
print(c)

['z', 'y', 'c', 'b']

In [44]:
c.sort()

In [45]:
print(c)

['b', 'c', 'y', 'z']

In [46]:
c.sort(reverse=True)
c

['z', 'y', 'c', 'b']

In [47]:
sum(xlist)

6

In [48]:
max(xlist)

3

In [49]:
min(xlist)

1

In [50]:
tuple(xlist)

(1, 2, 3)

In [51]:
del(xlist[0])
xlist

[2, 3]

In [52]:
alist = [1,2,3,3,4,4,4,5]
alist.count(3)

2

In [53]:
alist.index(3)

2

## 6-2. List 의 indexing

### list 를 구성하는 element 들은 위치에 따라 index 로 접근할 수 있다.
### index 는 대괄호(bracket)안에 정수(integer) 로 표시
### Python 의 index 는 0 부터 시작하는 양수 혹은 -1 부터 시작하는 음수로 표시할 수 있다.
        0   1     2     3     4    5 
    +---+---+---+---+---+---+
    |  H |  e  |  l  |   l |  o |  ! |
    +---+---+---+---+---+---+
      -6    -5    -4   -3   -2   -1

In [54]:
hello = ['H', 'e', 'l', 'l', 'o', '!']
print(len(hello))

6

In [55]:
print(hello)

['H', 'e', 'l', 'l', 'o', '!']

In [56]:
hello[0]

'H'

In [57]:
hello[5]

'!'

In [58]:
hello[len(hello) - 1]

'!'

In [59]:
x = [1,2,3] + ['a','b','c']
print(x)

[1, 2, 3, 'a', 'b', 'c']

In [60]:
x[0]

1

In [61]:
x[len(x)-1]

'c'

In [62]:
x[-1]

'c'

In [63]:
x[3] = 4

In [64]:
print(x)

[1, 2, 3, 4, 'b', 'c']

In [65]:
x[4] = 5
x

[1, 2, 3, 4, 5, 'c']

In [66]:
x[0] = 'first'
x[-1] = 'last'
x

['first', 2, 3, 4, 5, 'last']

In [67]:
x[-2]

5

In [68]:
x[len(x) - 1] = 'end'
x

['first', 2, 3, 4, 5, 'end']

In [69]:
x[-6]

'first'

In [70]:
animals = [['dog', 'Ruby', 7], 
           ['cat', 'Nero', 3], 
           ['dog', 'John', 5], 
           ['bird', 'Seagal', 2]]

In [71]:
animals[2]

['dog', 'John', 5]

In [72]:
animals[2][2]

5

In [73]:
kind, name, age = animals[-1]

In [74]:
print(kind, name, age)

bird Seagal 2

## 6-3. 인덱스 (Index) 를 이용한 list 의 element 자르기 (slicing)


### list 의 일부분을 범위 지정할 수 있다.
    list[start : end]   => start ~ end-1
    list[start:]      => start ~ 끝까지
    list[:end]        => 처음 ~ end-1
    list[:]           => list 전체
    
### 증가분 (increment) 를 지정하면 더욱 다양한 slicing 이 가능하다.
    list[start : end : increment]
    
### increment 가 음수 (-) 이면 뒤에서부터 거꾸로 처리한다.

In [75]:
x = [1, 2, 3, 4, 5, 6]

In [76]:
y = x[0:2]
print(y)

[1, 2]

In [77]:
x[2:4]

[3, 4]

In [78]:
x[2:]

[3, 4, 5, 6]

In [79]:
x[:6]

[1, 2, 3, 4, 5, 6]

In [80]:
x[:]

[1, 2, 3, 4, 5, 6]

In [81]:
x[-3:]

[4, 5, 6]

In [82]:
x[2:-1]

[3, 4, 5]

In [83]:
x[-6:3]

[1, 2, 3]

In [84]:
s = [1,2,3,4,5,6,7,8,9,10]
python = ['p','y','t','h','o','n']

In [85]:
s[:: 2]

[1, 3, 5, 7, 9]

In [86]:
python[::2]

['p', 't', 'o']

In [87]:
s[5::2]

[6, 8, 10]

In [88]:
python[5::2]

['n']

In [89]:
s[5:-1:2]

[6, 8]

In [90]:
s[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [91]:
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
s[7:1:-1]

[8, 7, 6, 5, 4, 3]

In [93]:
s[-1:-8:-1]

[10, 9, 8, 7, 6, 5, 4]

In [94]:
t = ['a','b','c']

In [95]:
t[1:100]

['b', 'c']

In [96]:
t[-2:-1]

['b']

In [97]:
t[-100:100]

['a', 'b', 'c']

In [98]:
t[-100]

IndexError: list index out of range

In [99]:
t[5]

IndexError: list index out of range

In [100]:
animals = [['dog', 'Ruby', 7], 
           ['cat', 'Nero', 3], 
           ['dog', 'John', 5], 
           ['bird', 'Seagal', 2]]

In [101]:
animals[1][0]

'cat'

In [102]:
animals[-1][2]

2

In [103]:
animals_tuple = (('dog', 'Ruby', 7), 
                 ('cat', 'Nero', 3), 
                 ('dog', 'John', 5), 
                 ('bird', 'Seagal', 2))

In [104]:
animals_tuple[1][0]

'cat'

In [105]:
animals_tuple[-1][2]

2

## 6-4. 튜플 (Tuple) 

### 튜플은 element 값을 변경할 수 없는 list 이다.

- Mutable : 값을 변경 가능 (list, variable)

- Immutable : 값을 변경 불가능 (tuple)  


- **변경할 수 없으므로 list 보다 memory 사용이 효율적**

### Tuple 은 괄호 (  ) 로 element 들을 감싸준다.

### element 를 변경할 수 없는 것 이외의 operation 은 list 와 거의 유사함.

### Tuple 과 List 비교

In [106]:
xlist = [1, 2, 3, 4]
ytuple = (1, 2, 3, 4)

In [107]:
xlist[1:4]

[2, 3, 4]

In [108]:
ytuple[1:4]

(2, 3, 4)

In [109]:
ytuple[-1]

4

In [110]:
xlist.append(6)
x

[1, 2, 3, 4, 5, 6]

In [111]:
ytuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [112]:
xlist[3] = '4th'
xlist

[1, 2, 3, '4th', 6]

In [113]:
ytuple[3] = '4th'

TypeError: 'tuple' object does not support item assignment

In [114]:
(x, y) = (1, 'two')

print(x, y)

1 two

In [115]:
(x, y) = [1, 'two']

print(x, y)

1 two

In [116]:
[x, y] = [1, 'two']

print(x, y)

1 two

### 원소가 한개 (single element) 인 Tuple
- comma(,) 로 tuple 임을 표시

In [117]:
t1 = ('a',)
type(t1)

tuple

### 여러개의 Tuple 을 하나로 merge

- 기존의 tuple 을 변경하는 것이 아니고 새로운 tuple 을 생성

In [118]:
z = ('a','b')

In [119]:
new_tuple = ytuple + z
new_tuple

(1, 2, 3, 4, 'a', 'b')

### Tuple 생성

In [120]:
t = 1, "two", 3+4

In [121]:
t

(1, 'two', 7)

In [122]:
type(t)

tuple

In [123]:
j, k, l = u
print(j, k, l)

1 2 3

### tuple method

In [124]:
t = tuple('abcde')
t

('a', 'b', 'c', 'd', 'e')

In [125]:
t = tuple(['a', 'b', 'c', 'd', 'e'])
t

('a', 'b', 'c', 'd', 'e')

### Tuple assignment

In [126]:
my_tuple = 'cat', 'dog', 'apple'
type(my_tuple)

tuple

In [127]:
cc, dd, aa = my_tuple
print(cc, dd, aa)

cat dog apple

In [128]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

### Tuple indexing

In [129]:
print(my_tuple[-1])
print(my_tuple[-2])

apple
dog

In [130]:
my_tuple[-1] = 'banana'

TypeError: 'tuple' object does not support item assignment

### Tuple 정렬 (sort)

In [131]:
new_tuple = my_tuple + ('banaba',)

In [132]:
new_tuple

('cat', 'dog', 'apple', 'banaba')

In [133]:
new_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [134]:
sorted(new_tuple)

['apple', 'banaba', 'cat', 'dog']

### Tuple 의 크기 비교 

- 왼쪽 element 부터 비교

In [135]:
(0, 8, 9) < (1, 2, 3)

True

In [136]:
(0, 8, 9) < (0, 2, 3)

False

In [137]:
('a', 'b') < ('abc', 'ab')

True

## zip

- zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [138]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [139]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [140]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [141]:
fruits = ['apple', 'orange', 'pear', 'grape']
prices = [100, 200, 150, 50]

for f, p in zip(fruits, prices):
    print(f, p)

apple 100
orange 200
pear 150
grape 50

## List / Tuple 연습문제

1) 다음 프로그램의 결과값은 ?

    xlist = []
    xlist.append('Good')
    xlist.append('Morning')
    print(xlist)
    
    xlist.append([3, 4])
    print(xlist)

2) 다음 list 의 element 를 오름차순으로 정렬 (ascending sort) 한다. 또한, 내림차순 (descending order)으로 정렬한다. sort(), sort(reverse=True) 함수를 사용한다.
    
    xlist = [2, 1, 3, 5, 4]

3) 두개의 list element 들을 짝을 지워 출력  

stocks = ['삼성전자', '대한항공', 'google', 'apple']  
close = [40000, 2000, 50000, 100000]

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 9. range( ) 함수

#### Python 은 range( ) 함수를 built-in 으로 제공한다.
#### range( ) 함수는 파라미터 (parameter) 로 받은 숫자 범위의 연속된 정수를 반환함.
#### 문법:
    range([start,] stop [,increment]) 
#### list( ) 함수는 range( ) 함수의 반환값을 list 로 변환해 줌.
#### for-loop 문에서 range( ) 함수는 list 를 반환한다.

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [5]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [6]:
list(range(5, 5))

[]

In [7]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

In [10]:
order = ['1st', '2nd', '3rd', '4th', '5th']
for i in range(len(order)):
    print(i, order[i])

0 1st
1 2nd
2 3rd
3 4th
4 5th

In [11]:
for i in range(len(order)-1, -1, -1):
    print(i, order[i])

4 5th
3 4th
2 3rd
1 2nd
0 1st

In [12]:
reversed(order)

In [13]:
list(enumerate(reversed(order)))

[(0, '5th'), (1, '4th'), (2, '3rd'), (3, '2nd'), (4, '1st')]

In [14]:
for i, ord in enumerate(reversed(order)):
    print(i, ord)

0 5th
1 4th
2 3rd
3 2nd
4 1st

In [15]:
for i in range(0, len(order), 2):
    print(i, order[i])

0 1st
2 3rd
4 5th

In [16]:
sum = 0
for i in range(1, 11):
    sum = sum + i
print(sum)

55

In [17]:
for i in range(5):
    print("Hello, world!")

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

### tuple 과 for-loop

In [18]:
xtuple = (1, 'two', 2)

In [19]:
for e in xtuple:
    print(e)

1
two
2

In [20]:
for i in range(len(xtuple)):
    print("t[",i,"] = ", xtuple[i])

t[ 0 ] =  1
t[ 1 ] =  two
t[ 2 ] =  2

## enumerate() 함수

In [21]:
list(enumerate(reversed(order)))

[(0, '5th'), (1, '4th'), (2, '3rd'), (3, '2nd'), (4, '1st')]

In [22]:
for i, ord in enumerate(reversed(order)):
    print(i, ord)

0 5th
1 4th
2 3rd
3 2nd
4 1st

## 연습문제

1) &nbsp; $\sum_{k=1}^{n}k$ 을 계산하는 함수 sigma(n) 을 작성하라. (n 은 정수)

2) 다음 문장 수행 후의 output 은 ?  

```
    s = ("a", "b", "c")  
    for i in range(1, len(s) + 1):  
        sub = ""  
        for j in range(i):  
            sub = s[j] + sub  
        print(sub)
```

3) 다음 문장 수행 후의 output 은 ?
    
    def sum_part(xlist, n):
        sum = 0
        for x in xlist[n]:
            sum = sum + x
        return sum
        
    ylist = [[1, 2], [3, 4], [5, 6], [7, 8]]
    x = sum_part(ylist, 2)
    print(x)

4) 숫자로 피라미드 만들기 : 홀수 숫자를 입력으로 받아서 좌우 대칭되는 피라미드형태로 출력 한다.  


- **(알고리즘)** pyramid 를 만들어야 하므로 입력 받은 숫자 만큼 for loop n 회 반복 $\rightarrow$ for i in range(n): 이용


    - 좌우 대칭을 만들기 위해 처음 시작은 (n-i) 개의 space를 출력하고, 
    - 줄 바꿈 없이 1 에서 i+1 까지의 숫자를 출력한 후,  
    - 줄 바꿈 없이 i 에서 1 까지 역순으로 출력
    - 줄을 바꾸어 위 process를 반복

In [7]:
n = 7
for i in range(n):
    print(" " * (n-i), end='')  #(n-i) 개의 space를 출력
    for j in range(1, i+2):        #1 에서 i+1 까지의 숫자를 출력
        print(j, end='')
    for j in range(i, 0, -1):     #i 에서 1 까지 역순으로 출력
        print(j, end='')
    print()

       1
      121
     12321
    1234321
   123454321
  12345654321
 1234567654321

In [ ]:
def pyramid(n):
    for i in range(n):
        print("  " * (n-i), end='')  #(n-i) 개의 space를 출력
        for j in range(?, ?):        #1 에서 i+1 까지의 숫자를 출력
            print(j, end='')
        for j in range(?, ?, ?):     #i 에서 1 까지 역순으로 출력
            print(j, end='')
        print()

pyramid(7)

5) 임의의 범위의 숫자를 모두 곱하는 함수를 작성하라.
    
       ex) multiply(2,4) ==> 2 * 3 * 4 = 24

6) 숫자로 이루어진 list 의 평균을 구하는 함수를 작성하라. 단, built-in 함수를 이용하지 않고 for loop 을 이용하여 새로운 함수 작성.
   
       ex) average([2,3,4,5,6]) => 4.0

7) x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 을 for 문을 이용하여,

[1,2,3] , 4   
[2,3,4] , 5  
[3,4,5] , 6  
[4,5,6] , 7  
[5,6,7] , 8  
[6,7,8] , 9  
[7,8,9] , 10 을 출력하라

**(Hint)** [7, 8, 9], 10 을 만들기 위해 뒤에서 4 개를 남겨야 하므로 range 함수의 범위를 range(len(x) - 3) 으로 한다. 따라서,  
```python
            for i in range(len(x)-3):
                  print(x[?: ?], ',', x[?])
```

### 도전문제

    피보나치 수열(Fibonacci Sequence)을 계산하는 프로그램도 파이썬으로 간단히 작성할 수 있다. 

    피보나치 수열은 0 과 1 로 시작하고 다음의 숫자는 이전 숫자 두개를 더한 숫자들로 이루어 진다.
    0, 1, 1, 2, 3, 5, 8, 13 ......
    
$$ F_n = \begin{cases} 0 \quad \quad \quad \quad \quad \text {n = 0} \\ 1 \quad \quad \quad \quad \quad \text {n = 1} \\ F_{n-1} + F_{n-2}\quad \text {n > 1}\end{cases} $$

    n 개의 숫자로 이루어진 피보나치 수열을 출력하는 함수를 작성하라.
    
    (결과) fib(10) => [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
    
**(알고리즘)**
- old, new 두개의 변수 이용 -> 초기값 : old = 0, new = 1  
- loop n times:
    - next 숫자는 old + new  
    - new 값이 old 가 되고 next 숫자가 new 값이 된다.
- loop 후 마지막 new 값이 n 번째 피보나치 수이다.

In [29]:
def fib(n):
    old, new = 0, 1
    for _ in range(n):
        # your code here 
    return new

lst = []
for i in range(7):
    lst.append(fib(i))
    
print(lst)

[1, 1, 2, 3, 5, 8, 13]

<br>
<br>
<br>
<br>
<br>

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 10. 딕셔너리 (Dictionary) 자료형

#### dictionary 는 key-value 쌍으로 이루어진 data type 이다.

#### dictionary 는 { } 내에 key: value 로 표시한다.

#### list, tuple 의 elemtent 들은 indexing 에 의해 접근하지만 , dictionary 는 key 값으로 접근한다.

    dictionary = {key: value, key: value...}
    
<img src="./images/dict1.png" width="500">

## 10.1 Dictionary basics

### dictionary 생성

In [1]:
d = {'a': 1, 'b': 2, 'c': 3}

In [2]:
type(d)

dict

### dictionary 값(value) 접근

In [3]:
d['b'] + d['c']

5

In [4]:
my_info = {'name': 'Kim', 'age': 25, 'height': 175, 
           'home': 'Seoul'}

if my_info['age'] < 30 and my_info['height'] > 170:
    print("My name is " + my_info['name'] +
            ' and I live in ' + my_info['home'] + '.')

My name is Kim and I live in Seoul.

### Dictionary 값 update

In [5]:
my_info['name'] = 'Jane'
my_info['home'] = 'New York'

In [6]:
if my_info['age'] < 30 and my_info['height'] > 170:
    print("My name is " + my_info['name'] + 
            ' and I live in ' + my_info['home'] + '.')

My name is Jane and I live in New York.

### get mothod 
- dictionary.get(key, default value)

In [7]:
words = ["나", "단어", "가", "다", "가", "가", "마", 
         "다", "하", "단어", "글자"]

d = dict()

for c in words:
    d[c] = d.get(c, 0) + 1

print(d)

{'나': 1, '단어': 2, '가': 3, '다': 2, '마': 1, '하': 1, '글자': 1}

### dictionary 와 for-loop

In [8]:
age_info = {'Kim': 50, 'Lee': 20, 'Park': 15, 'Choi': 45}

In [9]:
for key in age_info:
    if key == 'Kim':
        print(key, age_info[key])

Kim 50

In [10]:
for key in age_info.keys():
    print(key)

Kim
Lee
Park
Choi

In [11]:
for value in age_info.values():
    print(value)

50
20
15
45

In [12]:
for key, value in age_info.items():
    print(key, value)

Kim 50
Lee 20
Park 15
Choi 45

In [13]:
for key in age_info.keys():
    print(age_info[key])

50
20
15
45

In [14]:
for key in age_info.keys():
    print(key, age_info[key])

Kim 50
Lee 20
Park 15
Choi 45

In [15]:
for key, value in age_info.items():
    print(key, '\t\t', value)

Kim 		 50
Lee 		 20
Park 		 15
Choi 		 45

### dictionary 정렬

- key 순으로 정렬

In [16]:
d = {'c': 1, 'a': 2, 'b': 3}
sorted(d)

['a', 'b', 'c']

In [17]:
for key, value in d.items():
    print(key, '\t', value)

c 	 1
a 	 2
b 	 3

In [18]:
for key in sorted(d):
    print(key, '\t', d[key])

a 	 2
b 	 3
c 	 1

- value 순으로 정렬  
- without lambda

In [19]:
tmp = list()

for k, v in d.items():
    tmp.append((v, k))
    
tmp.sort()
tmp

[(1, 'c'), (2, 'a'), (3, 'b')]

- with lambda

In [20]:
sorted(d.items(), key=lambda kv: kv[1])

[('c', 1), ('a', 2), ('b', 3)]

### dictionary 에 key 존재 유무 check

In [21]:
d = {'a': 1, 'b': 2, 'c': 3}
'a' in d

True

In [22]:
'd' in d

False

### dictionary 를 이용한 list 의 중복 element count

In [23]:
def word_count_dict(word_list):
    word_count = {}
    for word in word_list:
        word = word.lower()
        if not word in word_count:
            word_count[word] = 1
        else:
            word_count[word] += 1
    return word_count

In [24]:
word_list = ['test', 'Test', 'apple', 'Apple', 
             'orange', 'dog', 'caT', 'CAT']

words_cnt = word_count_dict(word_list)

In [25]:
words_cnt

{'test': 2, 'apple': 2, 'orange': 1, 'dog': 1, 'cat': 2}

In [26]:
for k, v in words_cnt.items():
    print(k, v)

test 2
apple 2
orange 1
dog 1
cat 2

### Simplified word_count_dict

- get(key, default value) method 를 이용하여 위의 예제를 단순화

In [27]:
def word_count_simple(word_list):
    word_count = {}
    for word in word_list:
        word = word.lower()
        word_count[word] = word_count.get(word, 0) + 1
    return word_count

word_list = ['test', 'Test', 'apple', 'Apple', 'orange', 
             'dog', 'caT', 'CAT']

word_count_simple(word_list)

{'test': 2, 'apple': 2, 'orange': 1, 'dog': 1, 'cat': 2}

### 계층적 자료구조 구성

In [7]:
stock = {
    'name': '삼성전자',
    'market': 'KOSPI',
    'close': [
        ('2010-08-01', 45000),
        ('2010-08-02', 47000),
        ('2010-08-03', 42000),
    ],
    'market-cap': 2919097,
    'PER': 15.17
}

stocks = {
    'sec': {
        'name': '삼성전자',
        'market': 'KOSPI',
        'close': [
            ('2010-08-01', 45000),
            ('2010-08-02', 47000),
            ('2010-08-03', 42000),
        ],
        'market-cap': 2919097,
        'PER': 15.17
    },
    'lg' : {
        'name': 'LG',
        'market': 'KOSPI',
        'close': [
            ('2010-08-01', 45000),
            ('2010-08-02', 47000),
            ('2010-08-03', 42000),
        ],
        'market-cap': 2919097,
        'PER': 15.17
    },
    'TESLA' : {
        'name': 'TESLA',
        'market': 'KOSPI',
        'close': [
            ('2010-08-01', 45000),
            ('2010-08-02', 47000),
            ('2010-08-03', 42000),
        ],
        'market-cap': 2919097,
        'PER': 15.17
    }
}

In [8]:
stocks['lg']

{'name': 'LG',
 'market': 'KOSPI',
 'close': [('2010-08-01', 45000),
  ('2010-08-02', 47000),
  ('2010-08-03', 42000)],
 'market-cap': 2919097,
 'PER': 15.17}

In [30]:
for c in stock['close']:
    print(c[0], c[1])

2010-08-01 45000
2010-08-02 47000
2010-08-03 42000

In [31]:
stock['phone'] = '02-3455-2020'

In [32]:
stock

{'name': '삼성전자',
 'market': 'KOSPI',
 'close': [('2010-08-01', 45000),
  ('2010-08-02', 47000),
  ('2010-08-03', 42000)],
 'market-cap': 2919097,
 'PER': 15.17,
 'phone': '02-3455-2020'}

In [33]:
stock.keys()

dict_keys(['name', 'market', 'close', 'market-cap', 'PER', 'phone'])

### 연습문제

1) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d):
        print(d[x], end="")

In [1]:
d = {'a': 2, 'b': 4, 'c': 9}
for x in sorted(d):
    print(d[x], end="")

249

2) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d.values()):
        print(x, end="")

In [2]:
d = {'a': 2, 'b': 4, 'c': 9}
for x in sorted(d.values()):
    print(x, end="")

249

3) 다음의 출력 결과는 ?

    d = {'a': 21, 'b': 4, 'c': 9}
    for x in sorted(d.items()):
        print(x, end="")

In [3]:
d = {'a': 21, 'b': 4, 'c': 9}
for x in sorted(d.items()):
    print(x, end="")

('a', 21)('b', 4)('c', 9)

4) dictionary 를 이용하여 자신의 정보를 구조화 하여 작성  

        ex) {'name': '오영제', 
              '성별': '남성', 
              '거주지': {'도시': '서울', '동': '충무로', '주소': '123-45'}, 
              '전화번호': 1012345678, 
              '신장': 175.17}

5) 두개의 주사위를 던져서 두 주사위의 합이 같은 것끼리 출력하라.

- pseudo-code

```
    d = {}
    
    Loop with 주사위1 from 1 to 6
        Loop with 주사위2 from 1 to 6
            newTuple = (주사위1, 주사위2)
            added = 주사위1 + 주사위2
            if added 가 d 에 없으면 empty list 를 d 에 추가
            d 의 기존 list 에 append
```

In [4]:
d = {}

for dice1 in range(1, 7):
    for dice2 in range(1, 7):
        newTuple = (dice1, dice2)
        added = dice1 + dice2
        if added not in d:
            d[added] = []
        d[added].append(newTuple)

print(d)

{2: [(1, 1)], 3: [(1, 2), (2, 1)], 4: [(1, 3), (2, 2), (3, 1)], 5: [(1, 4), (2, 3), (3, 2), (4, 1)], 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)], 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)], 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)], 9: [(3, 6), (4, 5), (5, 4), (6, 3)], 10: [(4, 6), (5, 5), (6, 4)], 11: [(5, 6), (6, 5)], 12: [(6, 6)]}

6) dictionary 를 value 순으로 정렬

In [ ]:
dict = {'A' :5,'D' :7,'C' :3,'B' :2}

# CODE HERE

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 11. 스트링 (String) 

## 11-1. 스트링 (String) 자료형과 string 함수

### Python 의 string 자료형은 text 형태의 문자열을 말함.
### 문자열은 " " , ' '  혹은 """ """ 로 둘러싸인 문자들의 집합임.
    "Life is short"
    'a'
    "123"
    """String is Python's text type."""
### string 자료는 수정할 수 없음 (immutable)

* 수정할 수 있는 자료형 (mutable)  
    list
    
* 수정할 수 없는 자료형 (immutable)  
    string, tuple
    
### string 간의 +, * 연산이 가능

### str( ) 내장함수로 string type을 변환

### string 은 iterable 한 특성을 가지므로 list 와 같이 for-loop, len( ), indexing, slicing이 가능

### string 과 list 비교

In [3]:
xlist = ['g','o','o','d']
xlist[1] = 'x'

In [4]:
xlist

['g', 'x', 'o', 'd']

In [5]:
s1 = 'good'
s1[1] = 'x'

TypeError: 'str' object does not support item assignment

### string operation

In [6]:
s2 = "Good" + " morning"
print(s2)

Good morning

In [7]:
s3 = "good" * 3
print(s3)

goodgoodgood

In [8]:
s4 = "Number" + 3

TypeError: can only concatenate str (not "int") to str

In [9]:
s4 = "Number" + str(3)
s4

'Number3'

In [10]:
s5 = "Python is powerful"
print(s5[0], s5[-1], s5[:3])

P l Pyt

### slicing

In [11]:
s5[-1:-4:-1]

'luf'

In [12]:
s5[::-1]

'lufrewop si nohtyP'

In [13]:
len(s5)

18

### string and for-loop

In [14]:
for ch in s5:
    print(ch, end="")

Python is powerful

In [15]:
s1 + s2 + s3 + s4 + s5

'goodGood morninggoodgoodgoodNumber3Python is powerful'

In [16]:
s1 = """String is Python's "text" type."""

In [17]:
print(s1)

String is Python's "text" type.

In [18]:
my_string = "aeiou"
if "a" in my_string and "u" in my_string:
    print("Both conditions are True")

Both conditions are True

## 11-2. Escape Sequence 

### "\\" 로 시작하며 "\\"에 뒤따르는 문자에 특별한 의미를 부여하기 위해 사용
    예) \n : new line
       \\  : backslash ('\')
       \', \" : 따옴표 (quotation mark)
       \t  : tap

In [19]:
print("First Line \nSecond Line")

First Line
Second Line

In [20]:
print("Seoul-Busan \\non-stop")

Seoul-Busan \non-stop

In [21]:
print('He\'s my firend')

He's my firend

In [22]:
print("He's my friend")

He's my friend

In [23]:
print("She said \"I love him.\"")

She said "I love him."

In [24]:
print("tap character \tmakes spaces")

tap character 	makes spaces

In [25]:
print("tap character \t\tmakes spaces")

tap character 		makes spaces

In [26]:
s1 = """I didn't know what was "it"."""
print(s1)

I didn't know what was "it".

In [27]:
s = "I was bo\nrn in Seoul and I liv\ted in Seoul."
print(s)

I was bo
rn in Seoul and I liv	ed in Seoul.

- escape sequence 의 길이는 1

In [28]:
x = 'a\nb'
y = 'a\tb'
print(x)
print(y)
len(x), len(y)

a
b
a	b

(3, 3)

### 연습문제

1) parameter 로 받은 string 의 양 끝단 2 글자를 붙여서 반환하는 함수 작성
- string 의 slicing 및 concatenation 이용
```Python
    def both_ends(s):
        if len(s) < 2:
            return ''
        first2 = s[:?]
        last2 = s[?:]
        return first2 + last2

    print(both_ends('spring'))  #spng 
    print(both_ends('Hello'))    #Helo
```

2) 두개의 문자열을 parameter 로 받아 서로의 첫번째 두 글자를 교환한 후 중간에 한칸 띄우고 반환하는 함수 작성

```python
    def mix_up(a, b):
        a_swapped = b[:?] + a[?:]
        b_swapped = a[:?] + b[?:]
        return ? + ' ' + ?

    print(mix_up('frog', 'dinner'))   # diog frnner
```

3) 두개의 parameter 를 받아서 두개의 시작이 같으면 SAME 다르면 Different 를 반환하는 함수 작성
```python
    test('a', 'a')     # SAME
    test('aba', 'cba')   # Different
```

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 12. String 의 여러가지 사용방법

## 12-1. string class 의 주요 메소드 (method)

### 대, 소문자 변환
    lower( ), upper( )
### 문자열(string) 내의 특정 문자 갯수 
    count( )
### 앞부분 / 뒷부분 화이트 스페이스(whitespace) 제거
    
    Python 의 whitespace
    
    ' ' : space (공백)
    '\n': newline (줄바꿈)
    '\r': carriage return (
    '\t': 수평탭 (horizontal tab)
    '\v': 수직탭 (vertical tab)
    
    strip( )  - 앞, 뒤의 whitespace 제거
    lstrip( ) - 앞부분의 whitespace 제거
    rstrip( ) - 뒷부분의 whitespace 제거
    
    
### 문자열(string) 내의 특정 문자, 문자열의 위치
    find( ), index( )
    
### 문자열을 다른 문자열로 대치 
    replace( )
    
### 문자열 쪼개기 / 합치기
    split( )
    join( )

### built-in methods

In [1]:
s = "good morning"

In [2]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
S = s.upper()
print(S)

GOOD MORNING

In [4]:
S.lower()

'good morning'

In [5]:
s.count('o')

3

In [6]:
w = "   good morning    "

In [7]:
print(w.strip())

good morning

In [8]:
w = "   good \n morning   "

In [9]:
w.strip()

'good \n morning'

In [10]:
w.lstrip()

'good \n morning   '

In [11]:
w.rstrip()

'   good \n morning'

In [12]:
s = "World Cup"

In [13]:
s.find("C")

6

In [14]:
s.index("Cup")

6

In [15]:
s.find("Cup")

6

In [16]:
s.find("k")

-1

In [17]:
s.index("k")

ValueError: substring not found

In [18]:
try:
    s.index("k")
except:
    print("not found")

not found

In [19]:
s.replace("World", "bad")

'bad Cup'

In [20]:
slist = s.split()

In [21]:
print(slist)

['World', 'Cup']

In [22]:
s = 'World and Cup'
s.split("and")

['World ', ' Cup']

- 구분자를 이용한 list 의 단일 string 변환

In [23]:
' '.join(slist)

'World Cup'

In [24]:
'-'.join(["one", "to", "one"])

'one-to-one'

## 12-2. 문자열 포매팅 (String Formatting)

- 문자열 포매팅이란 문자열 내에 어떤 값을 삽입하는 것


-  { } 로 위치를 표시하고 format( ) method 로 mapping 시킨다.


-  {[순서]:[표시형식]} 지정 가능


-  format( ) method 대신 % 를 이용할 수도 있다. $\rightarrow$ Python 2.7 방식

In [25]:
"Python is {}".format("powerful")

'Python is powerful'

In [26]:
"Python is {} and {}".format("easy", "powerful")

'Python is easy and powerful'

In [27]:
"Float : {}, List: {}".format(1.5, ['a','b','c'])

"Float : 1.5, List: ['a', 'b', 'c']"

In [28]:
print("많이 팔리는 순서는 {0}, {1}, {2} 이고 {1} 는 품절입니다."
          . format("사과","바나나","망고"))

많이 팔리는 순서는 사과, 바나나, 망고 이고 바나나 는 품절입니다.

In [29]:
print("Friends are {s}, {b} and {j}.".
      format(j="Bill", b="John", s="Sean"))

Friends are Sean, John and Bill.

In [30]:
"{}-{}-{}".format(5, 10, 15)

'5-10-15'

In [31]:
"{0:5}-{1:5}-{2:5}".format(5, 10, 15)

'    5-   10-   15'

In [32]:
"{0:<10} left justify".format("LEFT")

'LEFT       left justify'

In [33]:
"{:>10} right justify".format("RIGHT")

'     RIGHT right justify'

In [34]:
"{:^10} center justify".format("CENTER")

'  CENTER   center justify'

In [35]:
"{:*^10} filling with *".format("CENTER")

'**CENTER** filling with *'

In [36]:
y = 3.141592
"{0} is {1:0.4f}".format("Pi", y)

'Pi is 3.1416'

In [37]:
import math
r2 = math.sqrt(2)
print("square root 2 is {:.4f}".format(r2))

square root 2 is 1.4142

In [38]:
print("square root 2 is {:10.4f}".format(r2))

square root 2 is     1.4142

In [39]:
print("square root 2 is [{:10.4f}]".format(r2))

square root 2 is [    1.4142]

In [40]:
print("square root 2 is {{{:10.4f}}}".format(r2))

square root 2 is {    1.4142}

## 12-3. 포맷문자열 리터럴 (f-문자열)

-  f+string 내에 {expression}  사용

In [41]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [42]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}

for name, phone in table.items():
    print(name, '==> {}'.format(phone))
    print(f'{name:10} ==> {phone:10d}')

Sjoerd ==> 4127
Sjoerd     ==>       4127
Jack ==> 4098
Jack       ==>       4098
Dcab ==> 7678
Dcab       ==>       7678

### Python 2.7 형식

In [43]:
"I have %s apples." % "three"

'I have three apples.'

In [44]:
"I have %d apples" % 5

'I have 5 apples'

In [45]:
"square root is %.4f" % r2

'square root is 1.4142'

In [46]:
"%% formatting is %s python %s" % ("old", "style")

'% formatting is old python style'

### 연습문제

1) 다음의 print 결과는 ?  

    s = "Python is awesome"  
    print(s[1:3])

2) "Spam and Eggs" 를 입력할 때 다음 프로그램의 출력 결과는 ?  

    def main():
        msg = input("Enter a phrase:  ")  
        for w in msg.split():  
            print(w[0], end="")  

    main()
    
    (결과) SaE

3) 다음의 출력 결과는 ?

    for x in "Mississippi".split("i"):
        print(x, end="")
        
        (결과) Msssspp

4) 다음 출력 결과는 ?

    s = "Jane Doe"  
    print(s[3 : 1 : -1])
    
    (결과) en

5) s = "Hello, Python World" 을 알파벳 별로 몇개인지 계산 (단, 대소문자 무시)

* hint : 
    1. "," 와 " " 을 "" 로 replace  
    2. s.lower() 를 이용하여 소문자로 통일
    3. dictionary 를 이용하여 알파벳 별로 개수 누적

(결과)  
```
        d 1
        e 1
        h 2
        l 3
        n 1
        o 3
        p 1
        r 1
        t 1
        w 1
        y 1
```

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 13. Module

#### 미리 만들어 놓은 Python 프로그램들을 모듈(Module) 혹은 package 라고 한다.

#### module 은 python 함수를 모아 놓은 것이다.

#### module 은 import 명령어로 불러온다.

#### 관련된 기능의 module  여러개를 한 덩어리로 묶은 것을 package 라고 부른다. package 는 기본 Python 3.7 에 포함되어 있지 않고 필요할 때 추가로 설치해야 한다.

#### 별도 설치가 필요 없는 Python 모듈을 built-in module (내장모듈) 이라고 부른다.

#### 내장 module 의 예:
    math, random
    
#### import 문 문법:
    import <모듈명>
    from <모듈명> import <함수명, *>
    from <모듈명> import <함수명, *> as <별명>

## 13-1. 전체 module 불러오기

In [1]:
import math

In [2]:
type(math)

module

### module 내에 포함된 함수들

In [3]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [4]:
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [5]:
math.exp(2)

7.38905609893065

In [6]:
help(math.exp)

Help on built-in function exp in module math:

exp(x, /)
    Return e raised to the power of x.

In [7]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [8]:
math.log(2)

0.6931471805599453

In [9]:
math.floor(3.14)

3

In [10]:
math.ceil(3.14)

4

### 전체 module * 로 불러오기

In [11]:
from math import *

In [12]:
help(sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [13]:
help(radians)

Help on built-in function radians in module math:

radians(x, /)
    Convert angle x from degrees to radians.

In [14]:
radians(0)

0.0

In [15]:
radians(90)

1.5707963267948966

In [16]:
math.sin(radians(0))

0.0

In [17]:
math.sin(radians(90))

1.0

### 개별 함수 불러오기

In [18]:
from math import sqrt, pi

In [19]:
sqrt(4)

2.0

In [20]:
print(pi)

3.141592653589793

In [21]:
from math import sin as sine

In [22]:
sine(radians(0))

0.0

In [23]:
sine(radians(90))

1.0

In [24]:
from collections import Counter

lst = ['cat', 'dog', 'monkey', 'cat', 'dog', 'cat']

counts = Counter(lst)
counts

Counter({'cat': 3, 'dog': 2, 'monkey': 1})

In [31]:
counts['cat']

3

In [32]:
counts.get('cat')

3

### 사용자가 작성한 module 불러오기

- module_test.py file 내의 circle 함수 call

```
    def circle(pi, radius):
        print("pi = ", pi)
        print("반지름 = ", radius)
        return pi * radius ** 2

    def calculate_volume(length, width, depth):
        return length * width * depth
```

In [26]:
from module_test import circle

In [27]:
circle(3.14, 10)

pi =  3.14
반지름 =  10

314.0

### 상위 folder 의 module 불러오기

- 상위 folder 의 boilerplate.py 파일

```
import sys

def hello():
    print('Hello Python')

if __name__ == '__main__':
    hello()
    print(sys.argv)
    print(sys.argv[0])
    print(sys.argv[1])
```

In [36]:
import sys
sys.path.append('../')

In [37]:
import boilerplate

In [38]:
boilerplate.hello()

Hello Python

##  연습문제

### boilerplate.py 프로그램을 terminal 에서 실행

- sys.argv 파라미터를 출력하여 내용 이해

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 14. 클라스(Class)

## 14-1. 클라스와 메소드 (Class 와 Method)

### Python 의 class 와 method 는 C++, Java 등의 객체지향 프로그래밍의 개념과 동일

### 객체지향개발(OOP - Object Oriented Programming) 4가지 특성
- 객체지향개발(Object Oriented Programming)의 특성은 크게 추상화, 캡슐화, 상속성, 다형성이 있다.

#### 1. 추상화(Abstraciton)
- 공통의 속성이나 기능을 묶어 이름을 붙이는 것
- OOP 에서 클래스를 정의하는 것을 추상화라고 할 수 있다.

#### 2. 은닉화 (Encapsulation)
- 변수와 함수를 하나로 묶어서 외부에서의 접근을 막고, 함수를 통해서만 접근 가능하도록 하는 것

#### 3. 상속 (Inheritance)
- 상위 개념의 특징과 메소드를 하위 개념이 물려 받아 재사용  

#### 4. 다형성 (Polymorphism)
- 부모 클래스로부터 물려받은 가상 함수를 자식 클래스 내에서 오버라이딩 하여 사용하는 것

### Python 에서는 모든 것을 object 라고 부름
    data (string, integer, float), function, built-in function
    
### Python 에서 모든 object 는 특정 class 에 속함

### class 란 객체 (object) 를 정의하는 틀 혹은 설계도와 같은 의미

### method 는 class 내에서 정의한 함수임. class 는 속성 (data) 와 메소드(method) 로 구성

    class ClassName:
        <data>
        
        def methodName(self):
            <method body>
            return
            
### dir( ) 내장함수는 객체가 어떤 변수와 메소드를 가지고 있는지 반환
    Python 언어 자체에서 사용하는 특별한 method 들은 __name__ 형식의 이름을 가지고 있음

In [8]:
print(type("string"))

<class 'str'>

In [9]:
print(type(15))

<class 'int'>

In [10]:
print(type(12.5))

<class 'float'>

In [11]:
def f(n):
    return n

In [12]:
print(type(f))

<class 'function'>

In [13]:
print(type(print))

<class 'builtin_function_or_method'>

In [15]:
class Car:
    color = "blue"
    max_speed = 100
    
    def __init__(self):
        self.max_speed = 50
        print("Car Instance 생성")
    
    def speedCheck(self, n):
        if n > self.max_speed:        # self 생략하면 error
            print(self.max_speed)
            print("Too fast")
        else:
            print("Good speed")

In [16]:
sonata = Car()

Car Instance 생성

In [17]:
sonata.speedCheck(100)

50
Too fast

In [14]:
sonata.max_speed

500

In [18]:
print(type(sonata))

<class '__main__.Car'>

In [19]:
print(type(sonata.speedCheck))

<class 'method'>

## 14-2 Python 의 Object Oriented Programming

- Class : 속성(attribute) 과 method 로 구성
    
    class Classname:
        def __init__(self, *args):
            self.변수명 (속성 정의)
            
        def methods(self, *args):
            메소드 정의
       
- Constructor (생성자)  : __init__()  


    class 의 instance 생성 시 자동으로 호출되어 object 를 초기화 하는 method
    
    
            
- Inheritance (상속)

    class Subclass(superclass):
    
        
- Encapsulation (은닉화)  

    self._변수명
    
    
- Polymorphism (다형성)

    Python 은 자체로 다형성의 특성을 가진 언어이다.
    
   1 + 2 ==> 3  
   '1' + '2'  =='12'

- Python interpreter 는 + operator 를 만나면 `__add__` method 호출

In [20]:
a = 1
a.__add__(2)    # numeric 연산

3

In [21]:
a = '1'
a.__add__('2')    # string 연산

'12'

### Class example

In [22]:
# class 정의
class Person:
    def __init__(self, name):
        self.name = name
        
    def sayHello(self):
        print(self.name, "님 안녕하세요")
        
# instance 생성
A = Person("파이썬")

# instance 를 통한 method 호출
A.sayHello()

# instance 를 통한 attribute 접근
print(A.name)

파이썬 님 안녕하세요
파이썬

### class 변수와 instance 변수

In [23]:
class Person:
    country = 'Korea'
    def __init__(self, country):
        self.country = country
        
A = Person('USA')

print(Person.country)     # class 변수
print(A.country)             # instance 변수

Korea
USA

### Inheritance (상속)

In [33]:
class Korean:        # parent class
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        print('나 {}는 한국말을 합니다.'.format(self.name))
    
    def sex(self):
        print('부모 성별')
        
class Man(Korean):      # child class
    def sex(self):
        print('나 {}는 한국 남자 입니다.'.format(self.name))
        
class Woman(Korean):  # child class
    def sex(self):
        print('나 {}는 한국 여자 입니다.'.format(self.name))
        
A = Man('김철수')
A.speak()
A.sex()
print()
B = Woman('김순이')
B.speak()
B.sex()

나 김철수는 한국말을 합니다.
나 김철수는 한국 남자 입니다.

나 김순이는 한국말을 합니다.
나 김순이는 한국 여자 입니다.

## 14.3 The `__call__` method

- class 의 초기화된 인스턴스를 호출할 때마다 수행. 여러 인수를 가질 수 있으며 원하는대로 수행하도록 정의 가능.

    - 매개 변수 변경,
    - 메시지 인쇄,
    - 새 변수 생성 등

In [47]:
class MyClass:
    def __init__(self, x):
        self.x = x
    
    def __call__(self, y):
        self.x += y
        print(self.x)

In [48]:
instance_a = MyClass(10)

instance_a(20)

30

## 14.4 `__str__`, `__repr__`

- __str__ - print() 문 호출시 string 반환
- __repr__ - object 자체 출력시 readable 한 형태 반환
- __repr__ 만 정의되어 있고 __str__ 이 생략된 경우 __str__=__repr__ 와 같음

In [49]:
class Korean:        # parent class
    
    def speak(self):
        print('나는 한국말을 합니다.')

    def __str__(self):
        return "Print 문 사용시 호출"
    
    def __repr__(self):
        return "object 반환시 호출 "
    
A = Korean()

In [50]:
A.speak()

나는 한국말을 합니다.

In [51]:
A

object 반환시 호출

In [52]:
print(A)

Print 문 사용시 호출

## 14.5 다형성 (polymorphism) 구현

**super()**

- 자식클래스에서 부모클래스의 내용을 사용하고 싶은 경우
- super().부모클래스내용

In [53]:
class Person:   
    
    class_var = '클라스변수'
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def show_salary(self):
        print("Salary is unknown")

class Employee(Person):
    def __init__(self, name, age, salary):   # Person 의 __init__() override
        super().__init__(name, age)          # Person 의 __init__() 내용을 상속
        self.salary = salary
        
    def show_salary(self):          # Person 의 show_salary() override
        print( "{}'s salary is {} and age is {}"
                  .format(self.name, self.salary, self.age))
        
A = Person('Tom', 30)
A.show_salary()

B = Employee('Tom', 30, 10000)
B.show_salary()

Salary is unknown
Tom's salary is 10000 and age is 30

## 14.6 다중 상속

In [3]:
class Person:
    def greeting(self):
        print('안녕하세요.')
        
class University:
    def manage_grade(self):
        print('학점 관리')
        
class Student(Person, University):
    def study(self):
        print('공부하기')

tom = Student()
tom.greeting()
tom.manage_grade()
tom.study()

안녕하세요.
학점 관리
공부하기

## 14.7 Class 내의 method 종류

### instance method 
    - 인스턴스를 첫번째 인자로 받음
    - 관습적으로 self 로 표시


### class method 
    - 클래스를 첫번째 인자로 받음  
    - 관습적으로 cls  로 표시
    - 모든 인스턴스가 공유하는 클래스 변수와 같은 데이터를 생성, 변경 또는 참조하기 위한 메소드
    
    
### static method
    - 첫번째 인자(self) 자동 생성 되지 않음 - class 내의 일반 함수  
    - class 내의 utility 성격의 method 로 사용  
    - class, instance 에서 모두 접근 가능

In [54]:
class Employee(object):
    
    raise_amount = 1.0  # 연봉 인상율 클래스 변수
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount)
        
    def full_name(self):
        return '{} {}'.format(self.first, self.last)
        
    def get_pay(self):
        return '현재 "{}"의 연봉은 "{}"입니다.'
    .format(self.full_name(), self.pay)
    
    # class 메소드 데코레이터를 사용하여 class 메소드 정의
    @classmethod
    def change_raise_amount(cls, amount):
        cls.raise_amount = amount
        print('인상율 "{}"가 적용 되었습니다.'.format(amount))
    
    # static 메소드 데코레이터를 사용하여 static 메소드 정의
    @staticmethod
    def calc_tax(amount, tax_rate):
        print(amount * tax_rate)

emp_1 = Employee('Sanghee', 'Lee', 50000)
emp_2 = Employee('Minjung', 'Kim', 60000)

# 연봉 인상 전
print(emp_1.get_pay())
print(emp_2.get_pay())

# 연봉 인상율 변경
# Employee.raise_amount = 1.2 와 동일한 결과
Employee.change_raise_amount(1.2)    

# 연봉 인상
emp_1.apply_raise()
emp_2.apply_raise()

# 연봉 인상 후
print(emp_1.get_pay())
print(emp_2.get_pay())

Employee.calc_tax(1000, 0.05)   # static method 도 instance 를 통해 접근
emp_1.calc_tax(1000, 0.04)

현재 "Sanghee Lee"의 연봉은 "50000"입니다.
현재 "Minjung Kim"의 연봉은 "60000"입니다.
인상율 "1.2"가 적용 되었습니다.
현재 "Sanghee Lee"의 연봉은 "60000"입니다.
현재 "Minjung Kim"의 연봉은 "72000"입니다.
50.0
40.0

## 연습문제

- Car class 를 parent class 로 만들고 Sonata 와 Volvo 를 child class 로 구성

- ``#CODE HERE`` 부분을 채워서 출력된 결과와 동일하도록 code 완성

In [15]:
class Car:
    def __init__(self, color='red', power=2000):
        self.color = color
        self.power = power
        self.speed = 0

    def forward(self, speed):
        self.speed += speed
        return '앞으로 전진 : 시속 {} km'.format(self.speed)

    def backward(self):
        pass

class Sonata(Car):
    def __init__(self, color, power, size):
        
        # CODE HERE
        
    def backward(self, speed):
        
        # CODE HERE
        
class Volvo(Car):
    def __init__(self, color, power, size, price):
        
        # CODE HERE

    def forward(self, speed):
        
        # CODE HERE
        
    def backward(self):
        
        # CODE HERE
        
sonata = Sonata('black', 1800, 5)
volvo = Volvo('white', 2500, 7, 5000000)

print(sonata.color)
print(sonata.forward(100))
print(sonata.backward(30))

print(volvo.color)
print(volvo.price)
print(volvo.forward(100))
print(volvo.backward())

black
앞으로 전진 : 시속 100 km
뒤로 후진 70 km/hour
white
5000000
앞으로 전진 : 시속 200 km
후진 불가
None

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 17.1 Files 입출력

### open(file 명) 을 호출하면 해당 file 을 open 하고 File Handle 객체를 반환한다.

### f = open('file_name', 'r') : file read 를 위한 File Handle 객체를 변수 f 로 저장

### f = open('file_name', 'w') : file write 를 위한 File Handle 객체를 변수 f 로 저장

### f.close() : file close 

### 주요 methods

- f.read()  
- f.write()

### 새로운 file 생성

In [1]:
f = open('test.txt', 'w')
f.write('This is file write test\n')
f.write('This is 2nd line\n')
f.write('이것은 3번째 줄입니다.')
f.close()

## 이미 존재하는 file open

In [2]:
f = open('test.txt', 'r')  # text mode

text = f.read()

print(text)
print(len(text))

This is file write test
This is 2nd line
이것은 3번째 줄입니다.
54

In [3]:
f = open('test.txt', 'rb')    # binary mode

text = f.read()

print(text)
print(len(text))

b'This is file write test\nThis is 2nd line\n\xec\x9d\xb4\xea\xb2\x83\xec\x9d\x80 3\xeb\xb2\x88\xec\xa7\xb8 \xec\xa4\x84\xec\x9e\x85\xeb\x8b\x88\xeb\x8b\xa4.'
72

### File Handle 을 sequence 로 사용
- readlines()

In [4]:
f = open('test.txt', 'r')     

lines = f.readlines()

print(lines)
print(len(lines))

for line in lines:
    print(line)
    
for line in lines:
    print(line.rstrip())

['This is file write test\n', 'This is 2nd line\n', '이것은 3번째 줄입니다.']
3
This is file write test

This is 2nd line

이것은 3번째 줄입니다.
This is file write test
This is 2nd line
이것은 3번째 줄입니다.

### File 의 내용 search

In [5]:
f = open('emailbox-short.txt')
count = 0

for line in f:
    if count > 5:
        break
    if line.startswith('From: '):
        print(line.rstrip())
        count += 1

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu

## file path 지정

In [6]:
import os

os.listdir()[:10]

['test_catvnoncat.h5',
 'base_01_pandas_5_0.png',
 'unzipped_content',
 'fancyindex.PNG',
 'empty_page.ipynb',
 'email.sqlite',
 '23.Webpage_Read_using_BeautifulSoup.ipynb',
 'Command_shortcuts.docx',
 'tensor.jpg',
 '02.arithmetic calculation.ipynb']

In [7]:
os.path.abspath('test.txt')

'/Users/ohyoungjea/OneDrive/AlgorithmPython-for-AI/jupytorNotebooks/test.txt'

In [8]:
os.path.join('C:\\Users\\trimu\\Desktop\\Python-Teaching\\jupytorNotebooks',
                     'test.txt')

'C:\\Users\\trimu\\Desktop\\Python-Teaching\\jupytorNotebooks/test.txt'

In [9]:
os.path.dirname(os.path.abspath('test.txt'))

'/Users/ohyoungjea/OneDrive/AlgorithmPython-for-AI/jupytorNotebooks'

In [10]:
os.path.exists('test.txt')

True

## with open 문으로 file 읽기/쓰기

#### with 문을 이용하면 with 블록을 벗어나는 순간 열린 파일 객체가 자동으로 close되어 편리함.

In [11]:
with open('test.txt', "r") as file2:
    data = file2.read()

print(data)

This is file write test
This is 2nd line
이것은 3번째 줄입니다.

In [12]:
with open('test.txt', "w") as file3:
    data = file3.write("This is 3rd line")

# 17.2 Exception Handling

## 기본 구문
```

try: 
    예외를 유발할 수 있는 구문 
except <예외 종류>: 
    예외 처리를 수행하는 구문
finally:
    정상, 예외 모든 경우에 수행되는 구문
```

In [13]:
try:
    a = 10 / 0
except:
    print('에러 발생')

에러 발생

### 특정 예외 발생

In [14]:
try:
    a = 10 / 0
except ZeroDivisionError:
    print('에러 발생')

에러 발생

### finally - 무조건 수행

In [15]:
try:
    a = 10 / 0
    print(a)
except :
    print('에러 발생')
finally:
    print("무조건 수행")

에러 발생
무조건 수행

### 일반적 모든 예외 처리

In [16]:
try:
    a = 10 / 0
    print(a)
except Exception as e:
    print('에러 발생 = ', e)

에러 발생 =  division by zero

### raise Exception

- 인위적으로 예외 발생

In [17]:
try:
    x = int(input('3의 배수를 입력하세요: '))
    if x % 3 != 0:                                 # x가 3의 배수가 아니면
        raise Exception('3의 배수가 아닙니다.')    # 예외를 발생시킴
    print(x)
except Exception as e:                             # 예외가 발생했을 때 실행됨
    print('예외가 발생했습니다.', e)

3의 배수를 입력하세요:
예외가 발생했습니다. invalid literal for int() with base 10: ''

### 예외처리 세분

In [18]:
try:
    x = int(input('아무 숫자나 입력하세요: '))
    print(10 / x)
except ValueError:
    print("숫자가 아닙니다.")
except ZeroDivisionError:
    print("0 은 입력 불가합니다.")

아무 숫자나 입력하세요:
숫자가 아닙니다.

### 함수 내에서 True/False 반환

In [19]:
a = 10
b = 5

def is_valid(a, b):
    try:
        return a > 5 and b < 10
    except:
        return False

is_valid(a, b)

True

## IO error 처리

In [20]:
import sys
file_name = 'test2.txt'

try:
    f = open(file_name, 'r')
    text = f.read()
    f.close()
except IOError:
    sys.stderr.write('file reading error : ' + file_name)
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:")

file reading error : test2.txt

### assert

- 반드시 확실해야 하는 경우 check 하여 인위적 예외 발생

In [21]:
# 3의 배수가 아니면 예외 발생, 3의 배수이면 그냥 넘어감
x = 3
assert x % 3 == 0, '3의 배수가 아닙니다.'

In [22]:
# 3의 배수가 아니면 예외 발생, 3의 배수이면 그냥 넘어감
x = 4
assert x % 3 == 0, '3의 배수가 아닙니다.'

AssertionError: 3의 배수가 아닙니다.

### 존재하는 file 삭제

In [23]:
import os

try:
    os.remove("test.txt")
except OSError:
    pass

### 연습문제

1) 다음 문장을 file 에 write 하고 다시 읽어서 print 한다.

"한국소프트웨어 산업협회 훈련과정 :   
알고리즘으로 배우는 Python"

2) 다음 file 을 읽어서 가장 빈번하게 나타나는 top 10 단어들을 출력
    - "poet.txt" file 을 open
    - count dictionary 생성 
    - count.items() 를 이용하여 (key, value) list 생성
    - value 의 reverse 순으로 정렬 -> sorted(list, reverse=True)

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 20. List Comprehension (리스트 컴프리헨션)

- ``list_variable = [x for x in iterable]`` 과 같이 ``list`` 내에  ``for loop`` 표현식을 사용하여 쉽게 새로운 ``list`` 를 생성할 수 있다. 


- ``list comprehension`` 을 사용하면 ``for loop`` 과 ``map``, ``filter`` 함수를 대체할 수 있다.


- ``list comprehension`` 내에서 ``if ~ else ~`` 를 사용할 수 있다.

In [1]:
nums = [1, 2, 3, 4]

squares = [n **2 for n in nums]

print(squares)

[1, 4, 9, 16]

In [2]:
strs = ['hello', 'and', 'goodbye']

shouting = [s.upper() + '!!!' for s in strs]

print(shouting)

['HELLO!!!', 'AND!!!', 'GOODBYE!!!']

In [3]:
nums = [2, 8, 1, 6]

small = [n for n in nums if n <= 2]

small

[2, 1]

In [4]:
# a 가 포함된 과일명을 대문자로 바꾸기
fruits = ['apple', 'banana', 'cherry', 'lemon']

[fruit.upper() for fruit in fruits if 'a' in fruit]

['APPLE', 'BANANA']

In [5]:
# 1-50 까지의 홀수 list 작성 
# for loop 과 조건문 사용
result = []
for i in range(1, 51):
    if i % 2 == 1:
        result.append(i)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [6]:
# list comprehension 사용
a = [x for x in range(1, 51) if x % 2 == 1]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### list comprehension 은 빠르다

In [7]:
%timeit [x for x in range(1, 51) if x % 2 == 1]

2.6 µs ± 47.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
%%timeit
result = []
for i in range(1, 51):
    if i % 2 == 1:
        result.append(i)

3.32 µs ± 86.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### map, filter 함수를 대체하는 list comprehension

In [9]:
# map + lambda

list(map(lambda x: x*x, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [10]:
[x*x for x in [1,2,3,4,5]]

[1, 4, 9, 16, 25]

In [11]:
# filter + lambda

list(filter(lambda x: x > 5 , [1,2,3,4,5,6,7,8,9]))

[6, 7, 8, 9]

In [12]:
[x for x in [1,2,3,4,5,6,7,8,9] if x > 5]

[6, 7, 8, 9]

### list comprehension 내의 if\~else\~

In [13]:
[x if x > 5  else x * 2 for x in [1,2,3,4,5,6,7,8,9]]

[2, 4, 6, 8, 10, 6, 7, 8, 9]

### Dictionary Comprehension

- ``list comprehension`` 을 ``dictionary`` 에 적용 


- 텍스트를 인코딩하고 각 문자를 정수로 매핑하거나 그 반대로 매핑  --> 자연어 처리에 많이 활용


- 두개의 ``dictionary`` 생성  

    1. ``char2int`` - character 를 integer 로 mapping
    2. ``int2char`` - integer 를 character 로  mapping

In [14]:
# open text file and read in data as `text`
with open('AliceWonderLand.txt', 'r') as f:
    text = f.read()

In [15]:
text[:100]

"Alice's Adventures in Wonderland (commonly shortened to Alice in Wonderland) is an 1865 novel writte"

In [16]:
chars = tuple(set(text))
int2char = dict(enumerate(chars))
char2int = {ch: ii for ii, ch in int2char.items()}

In [17]:
# encode the text
encoded = [char2int[ch] for ch in text]
print(encoded[:100])

[1, 12, 24, 43, 19, 4, 6, 8, 1, 10, 22, 19, 9, 32, 34, 16, 19, 6, 8, 24, 9, 8, 2, 33, 9, 10, 19, 16, 12, 3, 9, 10, 8, 15, 43, 33, 28, 28, 33, 9, 12, 39, 8, 6, 31, 33, 16, 32, 19, 9, 19, 10, 8, 32, 33, 8, 1, 12, 24, 43, 19, 8, 24, 9, 8, 2, 33, 9, 10, 19, 16, 12, 3, 9, 10, 5, 8, 24, 6, 8, 3, 9, 8, 18, 13, 21, 14, 8, 9, 33, 22, 19, 12, 8, 41, 16, 24, 32, 32, 19]

In [18]:
# decode the integers
decoded = [int2char[ii] for ii in encoded]
print(decoded[:100])

['A', 'l', 'i', 'c', 'e', "'", 's', ' ', 'A', 'd', 'v', 'e', 'n', 't', 'u', 'r', 'e', 's', ' ', 'i', 'n', ' ', 'W', 'o', 'n', 'd', 'e', 'r', 'l', 'a', 'n', 'd', ' ', '(', 'c', 'o', 'm', 'm', 'o', 'n', 'l', 'y', ' ', 's', 'h', 'o', 'r', 't', 'e', 'n', 'e', 'd', ' ', 't', 'o', ' ', 'A', 'l', 'i', 'c', 'e', ' ', 'i', 'n', ' ', 'W', 'o', 'n', 'd', 'e', 'r', 'l', 'a', 'n', 'd', ')', ' ', 'i', 's', ' ', 'a', 'n', ' ', '1', '8', '6', '5', ' ', 'n', 'o', 'v', 'e', 'l', ' ', 'w', 'r', 'i', 't', 't', 'e']

### 연습문제

1) `alist = [('x', 4), ('s', 5), ('a', 4), ('t', 5), ('k', 4), ('w', 5)]` 와 같이 tuple element 로 구성된 list 에서 tuple 의 첫번째 element 가  ``a`` 인 tuple 이 ``alist`` 의 몇번째  element 인지 구하라. 단, ``for loop`` 과 비교문을 사용하지 않고 ``list comprehension`` 을 사용.
 
- (Hint) ``enumerate( )`` 내장함수를 이용하여 list 를 ``(index, element)`` tuple 로 반환 받음

In [19]:
alist = ['a', 'b', 'c', 'd'] 
list(enumerate(alist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [20]:
alist = [('x', 4), ('s', 5), ('a', 4), ('t', 5), ('k', 4), ('w', 5), ('a', 4)] 

# CODE HERE

2) 다음 file 을 읽어서 가장 빈번하게 나타나는 top 10 단어들을 list comprehension 을 이용하여 출력 
    - "poet.txt" file 을 open
    - count dictionary 생성 
    - count.items() 를 이용하여 (key, value) list 생성
    - sorted 함수를 이용하여 value 의 reverse 순으로 정렬 
    - key=lambda kv: kv[1] 대신, list comprehension 사용

In [18]:
f = open('poet.txt')
counts = dict()

for line in f:
    for word in line.split():
        counts[word] = counts.get(word, 0) + 1

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 24. Database 와 SQL(Structured Query Language, 구조화 질의어) 사용하기

- ``emailbox-short.txt`` FILE 을 이용하여 sqlite db 생성  


- basic ``CRUD`` (Create, Retrieve, Update, Delete) operation 을 Python 과 SQL 을 이용하여 수행

<p style="text-align: center;">Relational Database 구조 (schema)</p>

<img src="https://academind.com/static/c6c8b088e9d9dd4722a965cde6b76e0d/d7ad1/sql-schema.jpg" width="600"/>
<img src="https://d33wubrfki0l68.cloudfront.net/207e129dd3d0320902cb27535a5849e959edb112/bd8ea/static/5df24f0f34a3d98feb531b5fc7776f72/a2510/sql-relations.jpg" width="800"/>

## 기본 SQL 문법

### 테이블 생성 (CREATE)

- CREATE TABLE 테이블명 (필드명 자료형, ...)

### 데이터조회하기 (SELECT)

- SELECT * FROM 테이블명
- SELECT 열명1, 열명2 FROM 테이블명

### 테이블 구조 참조하기 (DESC)

- DESC 테이블명

### 검색 조건 지정하기 (WHERE)

- SELECT 열1, 열2 FROM 테이블명 WHERE 조건식

### 레코드 추가(INSERT)

- INSERT INTO 테이블명(필드명, ...)  VALUES (값, ...)

### 레코드 삭제(DELETE)

- DELETE FROM 테이블명 WHERE 조건

### 데이터 변경(UPDATE)

- UPDATE 테이블명 SET (필드명=값, ...) WHERE 조건

## db 연결 및 cursor 생성

### connection methods

- connect( ) 를 이용하여 SQLite database 와의 connection object 생성


- cursor( ) - 이 connection 을 이용한 cursor object 를 반환. cursor 는 수행할 SQL 문의 단위가 된다.


- commit( ) - database 에 transaction 반영 


- rollback( ) - transaction 의 starting point 로 되돌아감 


- close( ) - database 와의 연결을 종료

### cursor methods

- execute( ) - string 으로 sql 문장 수행 


- executemany( ) - tuple 의 list 로 여러개 sql 일괄 수행


- fetchone( ) - query result set 에서 다음 row 를 fetch  


- fetchall( ) - query result set 의 나머지 row 를 모두 fetch

### mysql 연결

In [2]:
#----vanila mysql connect --------------------------------
import pymysql.cursors
con = pymysql.connect(host='localhost',user='yjoh',password='1234',db='stockdb',charset='utf8mb4')
cur = con.cursor()

In [4]:
cur.execute('SELECT * FROM stockcode')
cur.fetchone()

('000020', '동화약품', '0', 0)

### sqlite3 연결

In [1]:
import sqlite3
con = sqlite3.connect('emaildb.sqlite')
cur = con.cursor()

### Table 생성

| column | type | 
|:---:|:---:|
| email | TEXT | 
| count  | INTEGER |

In [2]:
try:        
    cur.execute("DROP TABLE IF EXISTS Counts")
    cur.execute("CREATE TABLE Counts (email TEXT, count INTEGER)")
    print ('table created successfully')
except Exception as e:
    print ('error in operation, ', e)
    con.rollback()
    con.close()

table created successfully

- `From: ` 으로 시작하는 record 에서 email id 를 추출하여 db 에 건수 누적 

- SQL 문에서 `?` 는 placeholder 를 의미. 여러개가 올 수 있으므로 tuple 로 mapping 시킨다

In [3]:
fname = 'emailbox-short.txt'
fh = open(fname)

for line in fh:
    if not line.startswith('From: '):
        continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ?', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('INSERT INTO Counts (email, count) VALUES (?, 1)', 
                        (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?', 
                        (email,))
        
    con.commit()

### 입력된 data 확인

In [4]:
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(row[0], row[1])

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

In [5]:
cur.execute('SELECT email, count FROM Counts')
cur.fetchall()

[('stephen.marquard@uct.ac.za', 2),
 ('louis@media.berkeley.edu', 3),
 ('zqian@umich.edu', 4),
 ('rjlowe@iupui.edu', 2),
 ('cwen@iupui.edu', 5),
 ('gsilver@umich.edu', 3),
 ('wagnermr@iupui.edu', 1),
 ('antranig@caret.cam.ac.uk', 1),
 ('gopal.ramasammycook@gmail.com', 1),
 ('david.horwitz@uct.ac.za', 4),
 ('ray@media.berkeley.edu', 1)]

In [6]:
cur.execute('SELECT email, count FROM Counts')
cur.fetchone()

('stephen.marquard@uct.ac.za', 2)

In [7]:
cur.fetchone()

('louis@media.berkeley.edu', 3)

In [8]:
cur.fetchone()

('zqian@umich.edu', 4)

In [9]:
cur.fetchall()

[('rjlowe@iupui.edu', 2),
 ('cwen@iupui.edu', 5),
 ('gsilver@umich.edu', 3),
 ('wagnermr@iupui.edu', 1),
 ('antranig@caret.cam.ac.uk', 1),
 ('gopal.ramasammycook@gmail.com', 1),
 ('david.horwitz@uct.ac.za', 4),
 ('ray@media.berkeley.edu', 1)]

In [10]:
sql = 'INSERT INTO Counts (email, count) VALUES (?, ?);'

In [11]:
emails=[('test1@test.com', 100), 
             ('test2@test.com', 200), 
             ('test3@test.com', 300)]

cur.executemany(sql, emails)

In [12]:
cur.execute('SELECT email, count FROM Counts')
cur.fetchall()

[('stephen.marquard@uct.ac.za', 2),
 ('louis@media.berkeley.edu', 3),
 ('zqian@umich.edu', 4),
 ('rjlowe@iupui.edu', 2),
 ('cwen@iupui.edu', 5),
 ('gsilver@umich.edu', 3),
 ('wagnermr@iupui.edu', 1),
 ('antranig@caret.cam.ac.uk', 1),
 ('gopal.ramasammycook@gmail.com', 1),
 ('david.horwitz@uct.ac.za', 4),
 ('ray@media.berkeley.edu', 1),
 ('test1@test.com', 100),
 ('test2@test.com', 200),
 ('test3@test.com', 300)]

## 연습문제

- 다음 table 을 database 로 생성  

- executemany( ) 를 이용하여 A1~A3 까지의 data 를 일괄 insert

- 전체를 조회  

- A4 를 추가로 insert  

- A3 의 나이를 59 로 변경  

- A1 을 삭제  

- 전체를 조회


|학생번호| 성명 |나이 |성적|
|:------:|:-----:|---|----|
|A1|홍길동|20|70|
|A2|유병길|16|80|
|A3|김길수|29|90|
|A4|박재만|25|86|

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 26. Numpy and Array

- 수치 data 를 다루는데 효율적이고 높은 성능 제공

- 각종 수학적 함수 제공

- Python scientific library 들이 Numpy 기반으로 구축

### ndarray

- n-dimensional array (다차원 배열 객체) 로 구성

In [1]:
import numpy as np

### 스칼라

In [2]:
x = 6
x

6

## 벡터 (vector)

In [3]:
x = np.array([1,2,3])
x

array([1, 2, 3])

In [4]:
print("vector dimension {}".format(x.shape))
print("vector size = number of elements {}".format(x.size))
print("data type {}".format(type(x)))

vector dimension (3,)
vector size = number of elements 3
data type <class 'numpy.ndarray'>

In [6]:
y = np.array([1, 2])
z = 2 * y
z

array([2, 4])

In [7]:
u = np.array([1, 2])
v = np.array([3, 2])
z = u * v
z

array([3, 4])

## matrix

In [14]:
y = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(y)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [15]:
print("array dimension {}".format(y.shape))
print("array size {}".format(y.size))

array dimension (3, 3)
array size 9

In [16]:
# 주어진 dimension 의 matrix 정의
x = np.ones((2,3))
print(x)

[[1. 1. 1.]
 [1. 1. 1.]]

In [17]:
print("array dimension {}".format(x.shape))
print("array size {}".format(x.size))

array dimension (2, 3)
array size 6

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 27. Pandas Basic

## Pandas 는 Series data type 과 DataFrame data type 으로 구성된다.

### Series (1 차원) : numpy array 와 유사. 
- 차이점 - numpy 와 달리 Series 는 axis (행, 열)에 label 을 부여할 수 있다. 즉, numpy 와 같이 숫자로만 indexing 하는 것이 아니라 label 명으로 indexing 을 할 수 있다. 또한 숫자 뿐 아니라 임의의 Python object 를 모두 element 로 가질 수 있다.

### DataFrame (2차원, table)
- Python program 안의 Excel

### Series vs DataFrame
<img src="series-and-dataframe.width-1200.png" width="400">

<img src="base_01_pandas_5_0.png" width="400">

In [3]:
import pandas as pd
import numpy as np

## DataFrame 만들기

DataFrame 은 여러개의 Series 를 같은 index 기준으로 모아 Table 을 만든 것이다.

### List  이용

In [3]:
np.random.seed(101)
data = np.random.randn(5, 4)

In [4]:
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D', 'E'], columns=['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Dictionary 이용

In [5]:
songs = {"book": ["춘향전", "무기여 잘있거라", "소나기", "해리포터", "왕좌의 게임", "알고리즘파이썬"],
               "year": [1600, 1930, 1940, 1990, 2000, 2010],
               "pages": [50, 100, 100, 1000, 2000, 300]}

songs_df = pd.DataFrame(songs)
songs_df

       book  year  pages
0       춘향전  1600     50
1  무기여 잘있거라  1930    100
2       소나기  1940    100
3      해리포터  1990   1000
4    왕좌의 게임  2000   2000
5   알고리즘파이썬  2010    300

- page 가 많은 순서로 sort

In [6]:
songs_df.sort_values('pages', ascending=False, inplace=True)
songs_df

       book  year  pages
4    왕좌의 게임  2000   2000
3      해리포터  1990   1000
5   알고리즘파이썬  2010    300
1  무기여 잘있거라  1930    100
2       소나기  1940    100
0       춘향전  1600     50

### DataFrame indexing

- single column

In [7]:
songs_df['pages']

4    2000
3    1000
5     300
1     100
2     100
0      50
Name: pages, dtype: int64

In [8]:
type(songs_df['pages'])

pandas.core.series.Series

- multiple columns

In [9]:
y = songs_df[['book', 'year']]
y

       book  year
4    왕좌의 게임  2000
3      해리포터  1990
5   알고리즘파이썬  2010
1  무기여 잘있거라  1930
2       소나기  1940
0       춘향전  1600

## slicing of DataFrame

In [10]:
df[:3]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [11]:
df['A':'B']

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

### loc

In [12]:
df.loc['B':'C', ['W', 'X']]

          W         X
B  0.651118 -0.319318
C -2.018168  0.740122

### iloc

In [13]:
df.iloc[1:3, 0:2]

          W         X
B  0.651118 -0.319318
C -2.018168  0.740122

In [14]:
df.iloc[1:3, :]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [15]:
df.iloc[1,1]

-0.31931804459303326

### 조건에 따른 slicing

In [16]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
df[(df['W'] > 0) | (df['Y'] > 0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### index values

In [18]:
df.index.values

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

### dataframe 의 column 명

In [19]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

### column 별 unique value 의 갯수

In [20]:
df.nunique()

W    5
X    5
Y    5
Z    5
dtype: int64

In [21]:
df['W'].unique()

array([ 2.70684984,  0.65111795, -2.01816824,  0.18869531,  0.19079432])

In [22]:
df['W'].value_counts()

 0.651118    1
 0.190794    1
 2.706850    1
 0.188695    1
-2.018168    1
Name: W, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 360.0+ bytes

In [24]:
df.describe()

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.343858  0.453764  0.452287  0.431871
std    1.681131  1.061385  1.454516  0.594708
min   -2.018168 -0.758872 -0.933237 -0.589001
25%    0.188695 -0.319318 -0.848077  0.503826
50%    0.190794  0.628133  0.528813  0.605965
75%    0.651118  0.740122  0.907969  0.683509
max    2.706850  1.978757  2.605967  0.955057

### new column 추가/삭제

In [25]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [26]:
df.drop('new', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [28]:
df.drop('new', axis=1, inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df.drop('D', axis=0, inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [30]:
df.shape

(4, 4)

In [31]:
df.loc['A':'B', ['Y']] = np.nan
df

          W         X         Y         Z
A  2.706850  0.628133       NaN  0.503826
B  0.651118 -0.319318       NaN  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

### missing value 를 포함하고 있는 모든 row 삭제 - default

In [32]:
df.dropna()

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

### missing value 를 포함하고 있는 모든 column 삭제

In [33]:
df.dropna(axis=1)

          W         X         Z
A  2.706850  0.628133  0.503826
B  0.651118 -0.319318  0.605965
C -2.018168  0.740122 -0.589001
E  0.190794  1.978757  0.683509

### missing value 대체

In [34]:
df.fillna(value=0)

          W         X         Y         Z
A  2.706850  0.628133  0.000000  0.503826
B  0.651118 -0.319318  0.000000  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [35]:
df.fillna(value=df['Y'].mean())

          W         X         Y         Z
A  2.706850  0.628133  1.567390  0.503826
B  0.651118 -0.319318  1.567390  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

### csv file read

In [36]:
df = pd.read_csv("winequality-red.csv", sep=";")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### DataFrame 을 csv file 로 write

In [37]:
df2 = df.loc[:, ['quality', 'alcohol', 'pH']]
df2.to_csv('winequality-2.csv')

In [38]:
pd.read_csv('winequality-2.csv', index_col=0).head()

   quality  alcohol    pH
0        5      9.4  3.51
1        5      9.8  3.20
2        5      9.8  3.26
3        6      9.8  3.16
4        5      9.4  3.51

## Pandas 를 이용하여 Database access

### mysql 연결

In [4]:
#----- pandas + mysql
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://yjoh:1234@localhost/stockdb?charset=utf8",convert_unicode=True)

df = pd.read_sql('select * from stockcode', con=engine)
df

        code code_name smarket  kospi200
0     000020      동화약품       0         0
1     000040     KR모터스       0         0
2     000050        경방       0         0
3     000060     메리츠화재       0         0
4     000070     삼양홀딩스       0         1
...      ...       ...     ...       ...
6475  900040   차이나그레이트      10         0
6476  900120    씨케이에이치      10         0
6477  900250   크리스탈신소재      10         0
6478  900070    글로벌에스엠      10         0
6479  900100     뉴프라이드      10         0

[6480 rows x 4 columns]

### sqlite3 연결

In [41]:
import sqlite3
con = sqlite3.connect('emaildb.sqlite')
cur = con.cursor()

In [42]:
df = pd.read_sql('select * from Counts', con=con)
df

                            email  count
0      stephen.marquard@uct.ac.za      2
1        louis@media.berkeley.edu      3
2                 zqian@umich.edu      4
3                rjlowe@iupui.edu      2
4                  cwen@iupui.edu      5
5               gsilver@umich.edu      3
6              wagnermr@iupui.edu      1
7        antranig@caret.cam.ac.uk      1
8   gopal.ramasammycook@gmail.com      1
9         david.horwitz@uct.ac.za      4
10         ray@media.berkeley.edu      1

In [43]:
df = pd.read_sql('SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10', con=con)
df

                           email  count
0                 cwen@iupui.edu      5
1                zqian@umich.edu      4
2        david.horwitz@uct.ac.za      4
3       louis@media.berkeley.edu      3
4              gsilver@umich.edu      3
5     stephen.marquard@uct.ac.za      2
6               rjlowe@iupui.edu      2
7             wagnermr@iupui.edu      1
8       antranig@caret.cam.ac.uk      1
9  gopal.ramasammycook@gmail.com      1

## Merging DataFrame

In [44]:
df = pd.DataFrame([{"name": "Chris", "Item Purchased": "Sponge", "Cost": 22.50},
                               {"name": "Kevin", "Item Purchased": "Kettle", "Cost": 2.50},
                               {"name": "Filip", "Item Purchased": "Spoon", "Cost": 5.00}],
                             index=['Store 1', 'Store 1', 'Store 2'])
df

          name Item Purchased  Cost
Store 1  Chris         Sponge  22.5
Store 1  Kevin         Kettle   2.5
Store 2  Filip          Spoon   5.0

- 새로운 column 추가

In [45]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df

          name Item Purchased  Cost        Date
Store 1  Chris         Sponge  22.5  December 1
Store 1  Kevin         Kettle   2.5   January 1
Store 2  Filip          Spoon   5.0     mid-May

- broadcasting

In [46]:
df['Delivered'] = True
df

          name Item Purchased  Cost        Date  Delivered
Store 1  Chris         Sponge  22.5  December 1       True
Store 1  Kevin         Kettle   2.5   January 1       True
Store 2  Filip          Spoon   5.0     mid-May       True

- missing value 추가

In [47]:
df['Feedback'] = ['Positive', None, 'Negarive']
df

          name Item Purchased  Cost        Date  Delivered  Feedback
Store 1  Chris         Sponge  22.5  December 1       True  Positive
Store 1  Kevin         Kettle   2.5   January 1       True      None
Store 2  Filip          Spoon   5.0     mid-May       True  Negarive

- reset index

In [48]:
adf = df.reset_index()
adf

     index   name Item Purchased  Cost        Date  Delivered  Feedback
0  Store 1  Chris         Sponge  22.5  December 1       True  Positive
1  Store 1  Kevin         Kettle   2.5   January 1       True      None
2  Store 2  Filip          Spoon   5.0     mid-May       True  Negarive

- 특정 row 전체의 data update $\rightarrow$ 지정 안된 row  는 missing value 처리

In [49]:
adf['Date'] = pd.Series({0: 'December 10', 2: 'mid-June'})
adf

     index   name Item Purchased  Cost         Date  Delivered  Feedback
0  Store 1  Chris         Sponge  22.5  December 10       True  Positive
1  Store 1  Kevin         Kettle   2.5          NaN       True      None
2  Store 2  Filip          Spoon   5.0     mid-June       True  Negarive

## DataFrame 간의 Join

<img src="venDiagram.png" width=400>
<p> Inner Join (Intersection) </p>
<img src="innerJoin.png" width=300>

In [51]:
staff_df = pd.DataFrame([{"Name": 'Kelly', "Role": 'HR Director'},
                        {"Name": "Sally", "Role": 'Coordinator'},
                        {"Name": "James", "Role": "Grader"}])
staff_df = staff_df.set_index("Name")

staff_df

              Role
Name
Kelly  HR Director
Sally  Coordinator
James       Grader

In [52]:
student_df = pd.DataFrame([{"Name": 'James', "Major": 'Business'},
                            {"Name": "Sally", "Major": 'AI'},
                            {"Name": "Mike", "Major": "Engineering"}])
student_df = student_df.set_index("Name")
student_df

             Major
Name
James     Business
Sally           AI
Mike   Engineering

### outer join

In [53]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

              Role        Major
Name
James       Grader     Business
Kelly  HR Director          NaN
Mike           NaN  Engineering
Sally  Coordinator           AI

### inner join (default)

In [54]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

              Role     Major
Name
Sally  Coordinator        AI
James       Grader  Business

### left join

In [57]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

              Role     Major
Name
Kelly  HR Director       NaN
Sally  Coordinator        AI
James       Grader  Business

### right join

In [58]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

              Role        Major
Name
James       Grader     Business
Sally  Coordinator           AI
Mike           NaN  Engineering

### index 가 단순 sequence 일 경우 join 할 column 지정

In [59]:
staff_df = staff_df.reset_index()
staff_df

    Name         Role
0  Kelly  HR Director
1  Sally  Coordinator
2  James       Grader

In [60]:
student_df = student_df.reset_index()
student_df

    Name        Major
0  James     Business
1  Sally           AI
2   Mike  Engineering

In [61]:
pd.merge(staff_df, student_df, left_on='Name', right_on='Name')

    Name         Role     Major
0  Sally  Coordinator        AI
1  James       Grader  Business

### 중복된 column 명이 있을 경우 자동으로 suffix 부여

In [62]:
staff_df['Location'] = ['Korea', 'China', 'Europe']
staff_df

    Name         Role Location
0  Kelly  HR Director    Korea
1  Sally  Coordinator    China
2  James       Grader   Europe

In [63]:
student_df['Location'] = ['Seoul', 'Pusan', 'Jeju']
student_df

    Name        Major Location
0  James     Business    Seoul
1  Sally           AI    Pusan
2   Mike  Engineering     Jeju

- left : `_x`, right: `_y`

In [64]:
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

    Name         Role Location_x     Major Location_y
0  Kelly  HR Director      Korea       NaN        NaN
1  Sally  Coordinator      China        AI      Pusan
2  James       Grader     Europe  Business      Seoul

## method chaining

- 목적 : readability 향상

In [67]:
df = pd.read_csv('winequality-red.csv', sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [68]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

### method chaining

- withoug method chaining

In [69]:
tmp = df.where(df['quality'] == 3)
tmp = tmp.dropna()
tmp = tmp.reset_index()
tmp = tmp.rename(columns={'fixed acidity': 'acid', 'quality': 'target'})
tmp = tmp.loc[:, ['acid', 'target']]
tmp

   acid  target
0  11.6     3.0
1  10.4     3.0
2   7.4     3.0
3  10.4     3.0
4   8.3     3.0
5   7.6     3.0
6   6.8     3.0
7   7.3     3.0
8   7.1     3.0
9   6.7     3.0

- with method chaining

In [70]:
(df.where(df['quality'] == 3)
        .dropna()
        .reset_index()
        .rename(columns={'fixed acidity': 'acid', 'quality': 'target'})
        .loc[:, ['acid', 'target']])

   acid  target
0  11.6     3.0
1  10.4     3.0
2   7.4     3.0
3  10.4     3.0
4   8.3     3.0
5   7.6     3.0
6   6.8     3.0
7   7.3     3.0
8   7.1     3.0
9   6.7     3.0

## Group by  


- wine quaility 별 평균 fixed acidity 구하기

### groupby 를 사용하지 않을 경우

In [71]:
for quality in sorted(df['quality'].unique()):
    avg = np.mean(df.where(df['quality'] == quality).dropna()['fixed acidity'])
    print(f"quality {quality} 의 평균 fixed acidity 는 {avg:.2f}")

quality 3 의 평균 fixed acidity 는 8.36
quality 4 의 평균 fixed acidity 는 7.78
quality 5 의 평균 fixed acidity 는 8.17
quality 6 의 평균 fixed acidity 는 8.35
quality 7 의 평균 fixed acidity 는 8.87
quality 8 의 평균 fixed acidity 는 8.57

###  group by 를 사용한 경우

- aggregate 사용 않음

In [73]:
for group, frame in df.groupby('quality'):
    avg = np.mean(frame['fixed acidity'])
    print(f"quality {group} 의 평균 fixed acidity 는 {avg:.2f}")

quality 3 의 평균 fixed acidity 는 8.36
quality 4 의 평균 fixed acidity 는 7.78
quality 5 의 평균 fixed acidity 는 8.17
quality 6 의 평균 fixed acidity 는 8.35
quality 7 의 평균 fixed acidity 는 8.87
quality 8 의 평균 fixed acidity 는 8.57

### groupby + aggregate 사용

In [74]:
df.groupby('quality').agg({'fixed acidity': np.mean})

         fixed acidity
quality
3             8.360000
4             7.779245
5             8.167254
6             8.347179
7             8.872362
8             8.566667

## binning 
- 연속된 숫자를 구간화

In [76]:
s = pd.Series([168, 180, 174, 190, 170, 185, 179, 181, 175, 160, 182, 177, 180, 171])

pd.cut(s, 3)

0     (159.97, 170.0]
1      (170.0, 180.0]
2      (170.0, 180.0]
3      (180.0, 190.0]
4     (159.97, 170.0]
5      (180.0, 190.0]
6      (170.0, 180.0]
7      (180.0, 190.0]
8      (170.0, 180.0]
9     (159.97, 170.0]
10     (180.0, 190.0]
11     (170.0, 180.0]
12     (170.0, 180.0]
13     (170.0, 180.0]
dtype: category
Categories (3, interval[float64]): [(159.97, 170.0] < (170.0, 180.0] < (180.0, 190.0]]

#### 3 구간으로 구분

In [77]:
pd.cut(s, 3, labels=['Small', 'Medium', 'Large'])

0      Small
1     Medium
2     Medium
3      Large
4      Small
5      Large
6     Medium
7      Large
8     Medium
9      Small
10     Large
11    Medium
12    Medium
13    Medium
dtype: category
Categories (3, object): [Small < Medium < Large]

### Pivot Tabels

- 여러 데이터 중에서 자신이 원하는 데이터만을 가지고 원하는 행과 열에 데이터를 배치하여 새로운 보고서를 만드는 기능  


- SQL 의 query 기능과 유사

In [78]:
df = pd.read_csv("cars.csv")
df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

### 전기차 연비 data 에서 `YEAR`, `Make` 별로 평균 배터리용량 `(kw)` 을 보여주는 dataframe 생성 


- column 에 `Make` 배치 
- row 에 `YEAR` 배치

In [82]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=np.mean)

Make    BMW  CHEVROLET   FORD   KIA  MITSUBISHI  NISSAN  SMART       TESLA
YEAR
2012    NaN        NaN    NaN   NaN        49.0    80.0    NaN         NaN
2013    NaN        NaN  107.0   NaN        49.0    80.0   35.0  280.000000
2014    NaN      104.0  107.0   NaN        49.0    80.0   35.0  268.333333
2015  125.0      104.0  107.0  81.0        49.0    80.0   35.0  320.666667
2016  125.0      104.0  107.0  81.0        49.0    80.0   35.0  409.700000

### 전기차 연비 data 에서 `YEAR`, `Make` 별로 배터리용량 `(kw)` 평균과 최소량을 보여주는 dataframe 생성

- column 에 `Make` 배치 
- row 에 `YEAR` 배치

In [80]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=[np.mean, np.min])

       mean                                                              amin  \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA    BMW
YEAR
2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN    NaN
2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000    NaN
2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333    NaN
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667  125.0
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000  125.0


Make CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART  TESLA
YEAR
2012       NaN    NaN   NaN       49.0   80.0   NaN    NaN
2013       NaN  107.0   NaN       49.0   80.0  35.0  270.0
2014     104.0  107.0   NaN       49.0   80.0  35.0  225.0
2015     104.0  107.0  81.0       49.0   80.0  35.0  280.0
2016     104.0  107.0  81.0       49.0   80.0  35.0  283.0

- aggfunc 별 subtotal 추가

In [83]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=[np.mean, np.min], margins=True)

       mean                                                             \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA
YEAR
2012    NaN       NaN    NaN   NaN       49.0   80.0   NaN         NaN
2013    NaN       NaN  107.0   NaN       49.0   80.0  35.0  280.000000
2014    NaN     104.0  107.0   NaN       49.0   80.0  35.0  268.333333
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000
All   125.0     104.0  107.0  81.0       49.0   80.0  35.0  345.478261

                   amin                                                        \
Make         All    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART  TESLA
YEAR
2012   64.500000    NaN       NaN    NaN   NaN       49.0   80.0   NaN    NaN
2013  158.444444    NaN       NaN  107.0   NaN       49.0   80.0  35.0  270.0
2014  135.000000    NaN     104.0  107.0   NaN       49.0   80.0  35.0  225.0
2015  181.428571  125.0     104.0  107.0  81.0       49.0   80.0  35.0  280.0
2016  252.263158  125.0     104.0  107.0  81.0       49.0   80.0  35.0  283.0
All   190.622642  125.0     104.0  107.0  81.0       49.0   80.0  35.0  225.0


Make All
YEAR
2012  49
2013  35
2014  35
2015  35
2016  35
All   35

### 위 내용을 좀 더 세분하여 `YEAR` 별 `Make` + `Model` 별 배터리 용량의 평균과 최소값을 보여주는 pivot table 을 작성하고, margin(subtotal/grand total) 을 

- column 에 `Make` + `Model` 배치 
- row 에 `YEAR` 배치

In [85]:
pd.set_option('display.max_columns', None)

In [86]:
df.pivot_table(values='(kW)', index='YEAR', columns=['Make', 'Model'], aggfunc=[np.mean, np.min], margins=True)

        mean                                                     \
Make     BMW CHEVROLET           FORD     KIA MITSUBISHI NISSAN
Model     i3  SPARK EV FOCUS ELECTRIC SOUL EV     i-MiEV   LEAF
YEAR
2012     NaN       NaN            NaN     NaN       49.0   80.0
2013     NaN       NaN          107.0     NaN       49.0   80.0
2014     NaN     104.0          107.0     NaN       49.0   80.0
2015   125.0     104.0          107.0    81.0       49.0   80.0
2016   125.0     104.0          107.0    81.0       49.0    NaN
All    125.0     104.0          107.0    81.0       49.0   80.0

                                                   \
Make
Model LEAF (24 kWh battery) LEAF (30 kWh battery)
YEAR
2012                    NaN                   NaN
2013                    NaN                   NaN
2014                    NaN                   NaN
2015                    NaN                   NaN
2016                   80.0                  80.0
All                    80.0                  80.0

                                                                   \
Make                            SMART
Model FORTWO ELECTRIC DRIVE CABRIOLET FORTWO ELECTRIC DRIVE COUPE
YEAR
2012                              NaN                         NaN
2013                             35.0                        35.0
2014                             35.0                        35.0
2015                             35.0                        35.0
2016                             35.0                        35.0
All                              35.0                        35.0

                                                         \
Make                     TESLA
Model MODEL S (40 kWh battery) MODEL S (60 kWh battery)
YEAR
2012                       NaN                      NaN
2013                     270.0                   270.00
2014                       NaN                   225.00
2015                       NaN                   283.00
2016                       NaN                   283.00
All                      270.0                   265.25

                                                         \
Make
Model MODEL S (70 kWh battery) MODEL S (85 kWh battery)
YEAR
2012                       NaN                      NaN
2013                       NaN                    270.0
2014                       NaN                    270.0
2015                     283.0                      NaN
2016                     283.0                      NaN
All                      283.0                    270.0

                                                               \
Make
Model MODEL S (85/90 kWh battery) MODEL S 70D MODEL S 85D/90D
YEAR
2012                          NaN         NaN             NaN
2013                          NaN         NaN             NaN
2014                          NaN         NaN             NaN
2015                        283.0       280.0           280.0
2016                        283.0       386.0           386.0
All                         283.0       333.0           333.0

                                                                      \
Make
Model MODEL S 90D (Refresh) MODEL S P85D/P90D MODEL S P90D (Refresh)
YEAR
2012                    NaN               NaN                    NaN
2013                    NaN               NaN                    NaN
2014                    NaN               NaN                    NaN
2015                    NaN             515.0                    NaN
2016                  386.0             568.0                  568.0
All                   386.0             541.5                  568.0

                                                                 amin  \
Make                                                       All    BMW
Model MODEL S PERFORMANCE MODEL X 90D MODEL X P90D                 i3
YEAR
2012                  NaN         NaN          NaN   64.500000    NaN
2013                310.0         NaN          NaN  158.444444    NaN
2014                310.0         NaN          NaN  135.000000    NaN
2015                  NaN         NaN          NaN  181.428571  125.0
2016                  NaN       386.0        568.0  252.263158  125.0
All                 310.0       386.0        568.0  190.622642  125.0

                                                          \
Make  CHEVROLET           FORD     KIA MITSUBISHI NISSAN
Model  SPARK EV FOCUS ELECTRIC SOUL EV     i-MiEV   LEAF
YEAR
2012        NaN            NaN     NaN       49.0   80.0
2013        NaN          107.0     NaN       49.0   80.0
2014      104.0          107.0     NaN       49.0   80.0
2015      104.0          107.0    81.0       49.0   80.0
2016      104.0          107.0    81.0       49.0    NaN
All       104.0          107.0    81.0       49.0   80.0

                                                   \
Make
Model LEAF (24 kWh battery) LEAF (30 kWh battery)
YEAR
2012                    NaN                   NaN
2013                    NaN                   NaN
2014                    NaN                   NaN
2015                    NaN                   NaN
2016                   80.0                  80.0
All                    80.0                  80.0

                                                                   \
Make                            SMART
Model FORTWO ELECTRIC DRIVE CABRIOLET FORTWO ELECTRIC DRIVE COUPE
YEAR
2012                              NaN                         NaN
2013                             35.0                        35.0
2014                             35.0                        35.0
2015                             35.0                        35.0
2016                             35.0                        35.0
All                              35.0                        35.0

                                                         \
Make                     TESLA
Model MODEL S (40 kWh battery) MODEL S (60 kWh battery)
YEAR
2012                       NaN                      NaN
2013                     270.0                    270.0
2014                       NaN                    225.0
2015                       NaN                    283.0
2016                       NaN                    283.0
All                      270.0                    225.0

                                                         \
Make
Model MODEL S (70 kWh battery) MODEL S (85 kWh battery)
YEAR
2012                       NaN                      NaN
2013                       NaN                    270.0
2014                       NaN                    270.0
2015                     283.0                      NaN
2016                     283.0                      NaN
All                      283.0                    270.0

                                                               \
Make
Model MODEL S (85/90 kWh battery) MODEL S 70D MODEL S 85D/90D
YEAR
2012                          NaN         NaN             NaN
2013                          NaN         NaN             NaN
2014                          NaN         NaN             NaN
2015                        283.0       280.0           280.0
2016                        283.0       386.0           386.0
All                         283.0       280.0           280.0

                                                                      \
Make
Model MODEL S 90D (Refresh) MODEL S P85D/P90D MODEL S P90D (Refresh)
YEAR
2012                    NaN               NaN                    NaN
2013                    NaN               NaN                    NaN
2014                    NaN               NaN                    NaN
2015                    NaN             515.0                    NaN
2016                  386.0             568.0                  568.0
All                   386.0             515.0                  568.0


Make                                               All
Model MODEL S PERFORMANCE MODEL X 90D MODEL X P90D
YEAR
2012                  NaN         NaN          NaN  49
2013                310.0         NaN          NaN  35
2014                310.0         NaN          NaN  35
2015                  NaN         NaN          NaN  35
2016                  NaN       386.0        568.0  35
All                 310.0       386.0        568.0  35

## 날자 data 처리 

### Timestamp

- Python 의 ``datetime`` 과 대부분의 경우 호환  

- ``DatetimeIndex`` 로 사용

In [87]:
pd.Timestamp('10/12/2020 10:30PM')

Timestamp('2020-10-12 22:30:00')

In [88]:
pd.Timestamp('2020-10-12 10:30PM')

Timestamp('2020-10-12 22:30:00')

In [89]:
import datetime

datetime.datetime(2020, 10, 12, 22, 30)

datetime.datetime(2020, 10, 12, 22, 30)

### DatetimeIndex

In [91]:
ts1 = pd.Series(data=list('abc'), 
                index=[pd.Timestamp('2020-09-01'), 
                       pd.Timestamp('2020-09-02'), 
                       pd.Timestamp('2020-09-03')])
ts1

2020-09-01    a
2020-09-02    b
2020-09-03    c
dtype: object

In [92]:
type(ts1.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Datetime format 으로 convert

In [93]:
d1 = ['2 June 2013', 'Aug 29, 2020', '2018-06-30', '7/12/2017']

ts2 = pd.DataFrame(np.random.randint(10, 100, (4, 2)), 
                   index=d1, columns=list('ab'))
ts2

               a   b
2 June 2013   17  20
Aug 29, 2020  62  66
2018-06-30    48  83
7/12/2017     62  28

In [94]:
ts2.index = pd.to_datetime(ts2.index)
ts2

             a   b
2013-06-02  17  20
2020-08-29  62  66
2018-06-30  48  83
2017-07-12  62  28

### Timedelta

- difference of time

In [95]:
pd.Timestamp('2020-10-02') - pd.Timestamp('2020-09-30')

Timedelta('2 days 00:00:00')

In [96]:
pd.Timestamp('2020-10-02 8:10AM') + pd.Timedelta('30d 10h')

Timestamp('2020-11-01 18:10:00')

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 30. Multi-threading and Multi-processing

## Multi-threading vs. Multi-processing

<div style="display:flex;">
<div><img src="multithread.png" width="200" /></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div><img src="multi-processing.png" width="500" /></div>
</div>

In [15]:
import time
import threading

def calc_square(num_list):
    print('제곱 계산')
    for n in num_list:
        time.sleep(0.2)
        print('sqaure: ', n*n)
        
def calc_cube(num_list):
    print('세제곱 계산')
    for n in num_list:
        time.sleep(0.2)
        print('cube: ', n*n*n)
        
arr = [5, 10, 15, 20]

### serial processing

In [16]:
s = time.time()

calc_square(arr)
calc_cube(arr)

print()
print("작업 시간 ", time.time() - s)

제곱 계산
sqaure:  25
sqaure:  100
sqaure:  225
sqaure:  400
세제곱 계산
cube:  125
cube:  1000
cube:  3375
cube:  8000

작업 시간  1.6328392028808594

### Multi-threading

In [17]:
t1 = threading.Thread(target=calc_square, args=(arr,))
t2 = threading.Thread(target=calc_cube, args=(arr,))

s = time.time()

t1.start()
t2.start()

t1.join()
t2.join()

print()
print("작업 시간 ", time.time() - s)

제곱 계산
세제곱 계산
sqaure: cube:  125
 25
cube: sqaure:  1000
 100
cube: sqaure:  3375
 225
cube: sqaure:  8000
 400

작업 시간  0.8138248920440674

### Multi-processing

In [18]:
import multiprocessing

p1 = multiprocessing.Process(target=calc_square, args=(arr,))
p2 = multiprocessing.Process(target=calc_cube, args=(arr,))

s = time.time()

p1.start()
p2.start()

p1.join()
p2.join()

print()
print("작업 시간 ", time.time() - s)

제곱 계산
세제곱 계산
sqaure:  25
cube:  125
sqaure:  100cube:
 1000
sqaure:  cube:  2253375

cube: sqaure:   4008000


작업 시간  0.8403067588806152

## Process 의 주소 공간 (Address Space)

<img src="addressSpace.png" width="400">  

- process 별로 주소 공간이 생성되므로 global variable 영역도 별도 생성된다.  

- 따라서, 전역 변수 (global variable)를 사용하여 프로세스 간 상태 공유 시 문제 발생

In [29]:
global_result = []

def calc_square(numbers):
    
    for n in numbers:
        global_result.append(n * n)
        
    print("Process 내부 결과 :", global_result)
        
arr = [2, 3, 4, 5, 6]
p1 = multiprocessing.Process(target=calc_square, args=(arr,))
p1.start()
p1.join()

print("Process 외부 결과 :",global_result)

Process 내부 결과 : [4, 9, 16, 25, 36]
Process 외부 결과 : []

## Shared Memory 를 이용한 프로세스 간 상태 공유

<img src="sharedMemory.png" width="300">  


### Value 또는 Array를 이용한 공유 메모리 맵 사용  
- multiprocessing.Array, multiprocessing.Value  
    - 'd': double precision float
    - 'i': integer

In [35]:
def calc_square(numbers, result, v):
    
    v.value = 3.45
    
    for idx, n in enumerate(numbers):
        result[idx] = n * n
        
    print("Process 내부 결과 :", result[:])
        
arr = [2, 3, 4, 5, 6]

result = multiprocessing.Array('i', len(arr))
v = multiprocessing.Value('d', 0.0)

p1 = multiprocessing.Process(target=calc_square, args=(arr, result, v))
p1.start()
p1.join()

print("Process 외부 결과 :", result[:])

Process 내부 결과 : [4, 9, 16, 25, 36]
Process 외부 결과 : [4, 9, 16, 25, 36]

### Queue를 이용한 Process 간의 Data 공유

<img src="multiprocessing-q.png" width="300">

In [37]:
def calc_square(numbers, q):
    for idx, n in enumerate(numbers):
        q.put(n * n)

arr = [2, 3, 4, 5, 6]
q = multiprocessing.Queue()
p = multiprocessing.Process(target=calc_square, args=(arr, q))

p.start()
p.join()

while not q.empty():
    print(q.get())

4
9
16
25
36

## Multiprocessing Pool (Map Reduce) 

<img src='mapreduce1.png'>
<img src='mapreduce2.png'>

In [2]:
import time

def f(n):
    time.sleep(0.2)
    return n*n

array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

s = time.time()
result = map(f, array)

print(list(result))
print(time.time() - s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
2.0375301837921143

In [24]:
from multiprocessing import Pool
import time

def f(n):
    time.sleep(0.2)
    return n*n

array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

s = time.time()
p = Pool()
result = p.map(f, array)
p.close()
p.join()

print(result)
print(time.time() - s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
0.26096010208129883

## Lock을 이용한 동기성(Synchronization) 유지

<img src="lock.png" width="500">

- 여러개의 thread가 share 하는 resource를 lock 하지 않으면 결과를 예측할 수 없다

In [18]:
import threading

n = 1000000

balance = 0

def increase(n):
    global balance
    for i in range(n):
        balance += 1

def decrease(n):
    global balance
    for i in range(n):
        balance -= 1
        
def main_task():
    t1 = threading.Thread(target=increase, args=(n,))
    t2 = threading.Thread(target=decrease, args=(n,))
    
    t1.start()
    t2.start()
    t1.join()
    t2.join()
    
main_task()
print(balance)

564032

- threading.Lock() 을 이용하여 문제 해결  
    - lock.acquire() 
    - lock.release()

In [21]:
n = 1000000

balance = 0

def increase(n, lock):
    global balance
    for i in range(n):
        lock.acquire()     
        balance += 1    
        lock.release()

def decrease(n, lock):
    global balance
    for i in range(n):
        lock.acquire()    
        balance -= 1   
        lock.release()
        
def main_task():
    lock = threading.Lock()
    
    t1 = threading.Thread(target=increase, args=(n, lock))
    t2 = threading.Thread(target=decrease, args=(n, lock))
    
    t1.start()
    t2.start()
    t1.join()
    t2.join()
    
main_task()
print(balance)

0

## multiprocessing에서 lambda 사용 방법

In [26]:
import multiprocessing

def calc_square(n):
    return n * n

arr = [1, 2, 3, 4, 5]

with multiprocessing.Pool() as p:
    result = p.map(calc_square, arr)
    
print(result)

[1, 4, 9, 16, 25]

- multiprocessing 에서는 lambda 사용 불가

In [29]:
with multiprocessing.Pool() as p:
    try:
        result = p.map(lambda x: x*x, arr)
    except Exception as e:
        print(e)

Can't pickle <function <lambda> at 0x7ff55f17e950>: attribute lookup <lambda> on __main__ failed

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

# 40. 파이썬 배포 파일 만들기 

### 필요한 사항

1. setuptools 라이브러리  
    !pip list 명령으로 확인
2. setup.py 와 README.txt 파일  
3. 패키징할 모듈

python setup.py sdist 명령 수행

아래와 같이 작업 끝나면 정상 수행

```
(base) ohyoungjea@oyeongje-ui-MacBookPro 40_sample_setup % python setup.py sdist
running sdist
running egg_info
creating module_test.egg-info
writing module_test.egg-info/PKG-INFO
writing dependency_links to module_test.egg-info/dependency_links.txt
writing top-level names to module_test.egg-info/top_level.txt
writing manifest file 'module_test.egg-info/SOURCES.txt'
reading manifest file 'module_test.egg-info/SOURCES.txt'
writing manifest file 'module_test.egg-info/SOURCES.txt'
running check
creating module_test-1.0.0
creating module_test-1.0.0/module_test.egg-info
copying files to module_test-1.0.0...
copying README.txt -> module_test-1.0.0
copying module_test.py -> module_test-1.0.0
copying setup.py -> module_test-1.0.0
copying module_test.egg-info/PKG-INFO -> module_test-1.0.0/module_test.egg-info
copying module_test.egg-info/SOURCES.txt -> module_test-1.0.0/module_test.egg-info
copying module_test.egg-info/dependency_links.txt -> module_test-1.0.0/module_test.egg-info
copying module_test.egg-info/top_level.txt -> module_test-1.0.0/module_test.egg-info
Writing module_test-1.0.0/setup.cfg
creating dist
Creating tar archive
removing 'module_test-1.0.0' (and everything under it)
```

- dist 디렉터리에 tar.gz 파일 생성 확인

## 생성한 배포 파일 설치

- tag.tz 파일이 있는 디렉터리에서 다음 명령 수행

```
python -m pip install module_test-1.0.0.tar.gz
```

```
Processing ./module_test-1.0.0.tar.gz
Building wheels for collected packages: module-test
  Building wheel for module-test (setup.py) ... done
  Created wheel for module-test: filename=module_test-1.0.0-py3-none-any.whl size=1350 sha256=1d59302a7ea25686ee97fb08ba638f03ed227c89b4375eab4e91ef6018b27fcd
  Stored in directory: /Users/ohyoungjea/Library/Caches/pip/wheels/57/f4/0d/2c4eb3333eacbdfb461811670e10efe71e35e0743efe00a0c9
Successfully built module-test
Installing collected packages: module-test
Successfully installed module-test-1.0.0
```

pip list 커맨드로 설치 확인

```
mkl-fft                                 1.2.0
mkl-random                              1.1.1
mkl-service                             2.3.0
mock                                    2.0.0
module-test                             1.0.0
monotonic                               1.5
more-itertools                          8.1.0
murmurhash                              1.0.2
mypy-extensions                         0.4.3
nbclassic                               0.2.5
nbclient                                0.5.1
nbconvert                               6.0.7
```

<div>











</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>